{% extends 'layout.html' %}
{% load yearterm %}
{% block headers %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}favorites.css" />
<script type="text/javascript">
//<!--
LinkThumb=
{
	initialize:function(wrap,className)
	   {
		   	this.wrap=$(wrap);
			this.anchors = $A(document.getElementsByClassName(className));
			this.isOver=false;
			this.onLoad();
	   },
	onLoad:function()
	   {
			this.thumb = new Element('div');
			this.thumb.addClass('linkthumb');

			this.img = new Element('img');
			this.thumb.appendChild(this.img);

			this.thumb.fade('hide');
			document.body.appendChild(this.thumb);

			this.registerHandlers();
	   },
	registerHandlers:function()
		 {
			document.addEvent('mousemove',this.onMove.bindWithEvent(this));
			this.anchors.each(function(item) {
				item.addEvent('mouseover',this.onOver.bindWithEvent(this,item));
				item.addEvent('mouseout',this.onOut.bindWithEvent(this));
			}.bind(this));
		 },
	onMove:function(e)
		{
			if(this.isOver)
			{
				var x=e.page.x + 20,y=e.page.y + 20;
				this.thumb.style.left=x+'px';
				this.thumb.style.top=y+'px';
			}
		},
	onOver:function(e,item)
		{
			this.img.src= 'http://open.thumbshots.org/image.aspx?url='+encodeURIComponent(item.href);
			this.thumb.fade('show');
			this.isOver=true;
			this.onMove(e);
		},
	onOut:function(e)
	  {
			this.thumb.fade('hide');
			this.img.src='';
			this.isOver=false;
	  }
};
window.addEvent('domready', function () {
	LinkThumb.initialize('publicFavorites','favorite-link');
	LinkThumb.initialize('publicFavorites','search-link');
});
//-->
</script>
<script type="text/javascript">
function CheckNull(form)
{
	if(form.name.value.length==0)
	{
		alert("내용을 작성해주세요. ex) CS408 전산학 프로젝트");
		form.name.focus();
		return false;
	}
	else if(form.url.value.length==0)
	{
		alert("과목 홈페이지를 작성해주세요. ex) http://otl.kaist.ac.kr");
		form.url.focus();
		return false;
	}
	else return true;
}
</script>


{% endblock %}
{% block content %}
<h2>과목 즐겨찾기 ({{current_year}}년 {{current_semester|term2str}}학기)</h2>
<div id="myFavorites">
	<h3>내 즐겨찾기</h3>
{% if user.is_authenticated %}
<ul>
	{% if myfavorites %}
		{% for item in myfavorites %}
		<li>
			<a class="favorite-link" href="{{item.url}}" target="_blank" >	
				<h4>{{item.course_name}} (등록수 : {{item.favored_count}})</h4>
				{{item.url}}
			</a>
			<a class="control-delete" href="/favorites/delete/{{item.id}}">Delete</a>:
		</li>
		{% endfor %}
	{% else %}
		<p>등록한 즐겨찾기가 없습니다. </p>
	{% endif %}
</ul>
{% else %}
	<p>로그인하지 않았습니다. :)</p>
{% endif %}
<div id="publicFavorites">
	<h3>다른 사람들의 즐겨찾기</h3>
	<a href="/favorites/morelist">더보기</a>
	<form id="create-form" method="get" onSubmit="return CheckNull(this);" action="/favorites/create/">
		<div id="add-public-favorite">
			<strong>즐겨찾기 등록</strong>&nbsp;|&nbsp;
			&nbsp;제목: <input type="text" id="create-form-name" name="name" value="" size="5" maxlength="60"/>	
			&nbsp;주소: <input type="text" id="create-form-url" name="url" value="" size="5" maxlength="100"/>
			<input id="create-form" type="submit" value="등록" />
		</div>
	</form>
	<ul>
	{% for item in recently_added_list %}
		<li>
		<a class="favorite-link" href="{{item.url}}" target="_blank" >
				<h4>{{item.course_name}} (등록수 : {{item.favored_count}})</h4>
				{{item.url}}
			</a>
			<span class="submitter">올린이 : <a href="/accounts/view/{{item.writer.username}}">{{item.writer.username}}</a></span>	
			<a class="control-add" href="/favorites/add/{{item.id}}">Add</a>
		</li>
	{% endfor %}
	</ul>
	<div class="pages">
		{% if current_page.has_previous %}
		<a class="prev-page" href="?page={{current_page.previous_page_number}}">Prev</a>
		{% endif %}
		{% for page in current_page.paginator.page_range %}
		<a class="page{% ifequal page.number current_page.number %} selected{% endifequal %}" href="?page={{page.number}}">{{page.number}}</a>
		{% endfor %}
		{% if current_page.has_next %}
		<a class="next-page" href="?page={{current_page.next_page_number}}">Next</a>
		{% endif %}
	</div>
</div>
	<form id="search-form" method="get" action="/favorites/search/">
		<p><label for="search-query">검색 : </label><input type="text" id="search-query" name="query" value="" maxlength="20"/><input type="submit" value="Find" /></p>
	</form>
		<ul>
			{% if search_list %}
				{% for item in search_list %}
				<li>
					<a class="search-link" href="{{item.url}}" target="_blank">
						<h4>{{item.year}} {{item.semester}} : {{item.course_name}} ( 등록수 : {{item.favored_count}} )</h4>
						{{item.url}}
					</a>
					<span class="submitter">올린이 : <a href="/accounts/view/{{item.writer.username}}">{{item.writer.username}}</a></span>
					<a class="control-add" href="/favorites/add/{{item.id}}">Add</a>
				</li>
				{% endfor%}
			{% else %}
				<p>검색 결과가 없습니다.</p>
			{% endif %}
		</ul>
		<div class="search-pages">
			{% if search_page.has_previous %}
			<a class="search-prev-page" href="?query={{search_code}}&search-page={{search_page.previous_page_number}}">Prev</a>
			{% endif %}
			{% for page in search_page.paginator.page_range %}
			<a class="search-page{% ifequal page.number search_page.number %} selected{% endifequal %}" href="?query={{search_code}}&search-page={{page.number}}">{{page.number}}</a>
			{% endfor %}
			{% if search_page.has_next %}
			<a class="search-next-page" href="?query={{search_code}}&search-page={{search_page.next_page_number}}">Next</a>
			{% endif %}
		</div>
{% endblock %}
