{% extends 'layout.html' %}
{% block headers %}
<link rel="stylesheet" type="text/css" href="/media/groups.css" />
{% endblock %}
{% block content %}
<h2>조모임 ({{current_year}}년 {{current_semester}}학기</h2>
<div id="myGroups">
	<h3>내가 가입한 조모임</h3>
	{% if user.is_authenticated %}
	<ul>
		{% for item in group_list %}
		<li>
		<h4>{{item.course_code}}: {{item.course_name}}</h4>
		<a class="group_link" href="/groups?id={{item.id}}">{{item.group_name}}</a>
		<a class="control-withdraw" href="/groups/withdraw/{{item.id}}">탈퇴</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
		<p>로그인하지 않았습니다. :)</p>
	{% endif %}
</div>
<div id="publicGroups">
	<h3>다른 조모임</h3>
	<a href="/groups/morelist">더보기</a>
	<form id="create-form" method="get" action="/groups/create/">
		<div id="create-group">
			조모임 생성 : code <input type="text" id="code" name="code" value"" size="5"/>
			course name : <input type="text" id="coursename" name="cname" value"" size="5"/>
			group name : <input type="text" id="groupname" name="gname" value"" size="5"/>
			year : <input type="text" id="year" name="year" value"" size="5"/>
			semester : <input type="text" id="semester" name="semester" value"" size="5"/>
			<input id="create-form" type="submit" value="생성" />
		</div>
	</form>
	<ul>
		{% for item in recently_added_list %}
		<li>
			<h4>{{item.course_code}}: {{item.course_name}}</h4>
			<a class="group-link" href="/groups?id={{item.id}}">{{item.group_name}}</a>
			<a class="control-join" href="groups/join/{{item.id}}">join</a>
		</li>
		{% endfor %}
	</ul>
</div>
<a id="create-group" href="#">조모임 보드 만들기</a>
<a id="join-group" href="#">조모임 보드 가입하기</a>
<h3>조모임 보드 찾아보기</h3>
<form id="search-form" method="get" action="/groups/search/">
</form>
{% endblock %}
