{% extends 'layout.html' %}
{% block headers %}
<link rel="stylesheet" type="text/css" href="/media/groups.css" />

<script type="text/javascript">
function CheckNull(form)
{
	if(form.code.value.length==0)
	{
		alert("과목 코드를 작성해주세요.");
		form.code.focus();
		return false;
	}
	else if(form.cname.value.length==0)
	{
		alert("과목 이름을 작성해주세요.");
		form.cname.focus();
		return false;
	}
	else if(form.gname.value.length==0)
	{
		alert("조 이름을 작성해주세요.");
		form.gname.focus();
		return false;
	}
	else if(form.passwd.value.length==0)
	{
		alert("암호를 작성해주세요.");
		form.passwd.focus();
		return false;
	}
	else if(form.comment.value.length==0)
	{
		alert("comment를 작성해주세요.");
		form.comment.focus();
		return false;
	}
	else return true;
}
</script>

{% endblock %}
{% block content %}
<h2>조모임 ({{current_year}}년 {{current_semester}}학기)</h2>
<div id="myGroups">
	<h3>내가 가입한 조모임</h3>
	{% if user.is_authenticated %}
	<ul>
		{% for item in group_list %}
		<li>
		<h4>{{item.course_code}}: {{item.course_name}}</h4>
		<a class="group_link" href="/groups/list/?id={{item.id}}">{{item.group_name}}</a>
		<a class="control-withdraw" href="/groups/withdraw/{{item.id}}">탈퇴</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
		<p>로그인하지 않았습니다. :)</p>
	{% endif %}
</div>
<div id="publicGroups">
	<h3>다른 조모임</h3>
	<a href="/groups/morelist">더보기</a>
	<form id="create-form" method="post" onSubmit="return CheckNull(this)" action="/groups/create/">
		<div id="create-group">
			조모임 생성 : code  : <input type="text" id="code" name="code" value="" size="5"/>
			course name : <input type="text" id="coursename" name="cname" value="" size="5"/>
			group name : <input type="text" id="groupname" name="gname" value="" size="5"/>
			password : <input type="password" id="passwd" name="passwd" value="" size="5"/>
			comment : <input type="text" id="comment" name="comment" value="" size="5"/>
			<input id="create-form" type="submit" value="생성" />
		</div>
	</form>
	<ul>
		{% for item in recently_added_list %}
		<li>
		<h4>{{item.course_code}}: {{item.course_name}} - {{item.comment}}</h4>
			<a class="group-link" href="/groups/list/?id={{item.id}}">{{item.group_name}}</a>
			<a class="control-join" href="/groups/join/{{item.id}}">join</a>
			<form id="join-form" method="post" action="/groups/join/{{item.id}}">
				<div id="join-group">
					password : <input type="password" id="passwd" name="passwd" value="" size="5" />
					<input id="join-form" type="submit" value="가입" />
				</div>
			</form>
		</li>
		{% endfor %}
	</ul>
	<div class="pages">
		{% if current_page.has_previous %}
		<a class="prev-page" href="/groups/morelist/?page={{current_page.previous_page_number}}">Prev</a>
		{% endif %}
		{% for page in current_page.paginator.page_range %}
		<a class="page{% ifequal page.number current_page.number %} selected{% endifequal %}" href="/groups/morelist/?page={{page.number}}">{{page.number}}</a>
		{% endfor %}
		{% if current_page.has_next %}
		<a class="next-page" href="/groups/morelist/?page={{current_page.next_page_number}}">Next</a>
		{% endif %}
	</div>
</div>
<h3>조모임 보드 찾아보기</h3>
<form id="search-form" method="get" action="/groups/search/">
	<p><label for="search-query">검색 : </label><input type="text" id="search-query" name="query" /><input type="submit" value="Find" /></p>
		<ul>
			{% if search_list %}
				{% for item in search_list %}
				<li>
				<h4>{{item.year}} {{item.semester}} {{item.course_code}}: {{item.course_name}} - {{item.comment}}</h4>
					<a class="search-link" href="/group/list/?id={{item.id}}">{{item.group_name}}</a>
					<span class="submitter">올린이 : <a href="/accounts/view/{{item.maker.username}}">{{item.maker.username}}</a></span>
					<a class="control-join" href="/group/join/{{item.id}}">Join</a>
				</li>
				{% endfor%}
			{% else %}
				<p>검색 결과가 없습니다.</p>
			{% endif %}
		</ul>
			<div class="search-pages">
			{% if search_page.has_previous %}
			<a class="search-prev-page" href="/groups/search/?query={{search_code}}&search-page={{search_page.previous_page_number}}">Prev</a>
			{% endif %}
			{% for page in search_page.paginator.page_range %}
			<a class="search-page{% ifequal page.number search_page.number %} selected{% endifequal %}" href="/groups/?query={{search_code}}&search-page={{page.number}}">{{page.number}}</a>
			{% endfor %}
			{% if search_page.has_next %}
			<a class="search-next-page" href="/groups/search/?query={{search_code}}&search-page={{search_page.next_page_number}}">Next</a>
			{% endif %}
		</div>
</form>
{% endblock %}
