{% extends 'dictionary/base.html' %}
{% load yearterm %}
{% block header_main %}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
	Data.Comments = [];
	Data.Favorites = {{favorite|safe}};
    IndexCommentList.initialize();
	FavoriteList.initialize();
	RecommendController.initialize();
});
//]]>
</script>

{% endblock %}
{% block main %}
<div id="center">
	<div id="recommend-area">
		<div class="dictionary-title"> 
			<div id="recommend-title">추천과목</div>
		</div>
		<div id="recommend-area-professors">
		</div>
	</div>
	<div id="Notifier">
	    <div class="left" id="message-wrap">
	       <div class="bl"><div class="br">
		    <div id="message">{% trans "안녕하세요. 이 서비스는 <strong>SPARCS</strong>에서 제공하고 있습니다." %}</div>
		</div></div>
	    </div>
	</div>
	<div id="recent-comments">
		<div class="dictionary-title">
			<div id="recent-comments-title">최근 코멘트</div>
		</div>
		<div id="timeline">		
		</div>
	</div> 
</div>

<div id="right-side">
	<div id="taken_lecture_contents">
		<table id="taken_lecture_table">
			{% for y in lecture_list %}
			<tr class="taken_lecture_title">
				<td  {% if forloop.last %} style="background-color:#C0D9FD; font-weight:bold;" {% endif %}>
						<a href='#' id="{{ forloop.counter }}" class="show_taken_lecture"> {{  y.0.year }} {{ y.0.semester|term2str }}</a>
					</td>
				</tr>
				<tr class="taken_lecture_list" {% if not forloop.last %} hidden="true"{% endif %}>
					<td>
						<ul>
						{% for lecture in y.1 %}
							<li class="taken_lecture">
								<div class="taken_lecture_name">
									<a href={{lecture.url}}>{{lecture.code}} - {{lecture.title}}</a>
								</div>
								{% if lecture.written %} <img src="{{MEDIA_URL}}images/dictionary/write.png" class="taken_lecture_image">  {% else %} <img src="{{MEDIA_URL}}images/dictionary/not_write.png" class="taken_lecture_image"> {% endif %}
							</li>
						{% endfor %}
					</ul>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div id="favorite_view">
		<div id="favorite_view_title">즐겨찾기</div>
		<ul id="favorite_view_contents"></div>
	</div>
</div>

{% endblock %}
