{% extends 'dictionary/base.html' %}
{% load yearterm %}
{% block header_main %}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
		Data.Comments = [];
		Data.Favorites = {{favorite|safe}};
    IndexCommentList.initialize();
	IndexLectureList.initialize();
	FavoriteList.initialize();
});
//]]>
</script>

{% endblock %}
{% block main %}
<div id="center">
	<div id="recommend-area">
		<div class="dictionary-title"> 
			<p id="recommend-title-p">추천과목</p>
		</div>
		<div id="recommend-area-professors">
		</div>
	</div>
	<div id="Notifier">
		<div id="indicator"></div>
		<div id="message-wrap">
			<div id="message"></div>
		</div>
	</div>
	<div id="recent-comments">
		<div class="dictionary-title">
			<p id="recent-comments-title-p">최근 코멘트</p>
		</div>
		<div id="timeline">		
		</div>
	</div> 
</div>
<div id="right-side">
	<div id="taken_lecture">
		{% for y in lecture_list %}
		<a href='#' id="{{ forloop.counter }}" class="show_taken_lecture"> {{  y.0.year }} {{ y.0.semester|term2str }}</a><br />
			<div class="taken_lecture_list" {% if forloop.counter != 1 %} hidden="true"{% endif %}>
				{% for lecture in y.1 %}
				<a href={{lecture.url}}>{{lecture.code}} - {{lecture.title}}</a> 
				{% if lecture.written %} 씀 {% else %} 안씀 {% endif %} <br />
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	<div id="favorite-view">
	즐겨찾기<br />
	</div>
</div>
</div>
<div class="clear" style="height:10px;"></div>
{% endblock %}
