{% extends 'dictionary/base.html' %}
{% block header_main %}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
    Data.Comments = [];
    IndexCommentList.initialize();
});
//]]>
</script>

{% endblock %}
{% block main %}
<div id="main-side">
	<div id="timeline">
		
	</div>
        <div id="Notifier">
	<div id="indicator"></div>
	<div id="message-wrap">
		<div id="message"></div>
	</div>
</div>
</div>
<div id="right-side">
	<div id="topranking">
		<table class="dictionary-main">
			<caption>
				Top 10
			</caption>
			<thead>
				<tr>
					<th>Rank</th>
					<th>ID</th>
					<th>내공</th>
				</tr>
			</thead>
			<tbody>
				{% for r in rank_list %}
				<tr>
					<td>{{ r.index }}</td>
					<td>{{ r.user.nickname }}</td>
					<td>{{ r.user.score }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="recentranking">
		<table class="dictionary-main">
			<caption>
				Monthly Top 10
			</caption>
			<thead>
				<tr>
					<th>Rank</th>
					<th>ID</th>
					<th>내공</th>
				</tr>
			</thead>
			<tbody>
				{% for r in rank_list %}
				<tr>
					<td>{{ r.rank }}</td>
					<td>{{ r.ID }}</td>
					<td>{{ r.score }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="askcomment">
		<table class="mcomment">
			<caption>
				당신의 의견을 남겨주세요 :)
			</caption>
			<thead>
				<tr>
					<th> 학기 </th>
					<th> 과목코드 </th>
					<th> 과목명 </th>
					<th> 교수님 </th>
					<th> 코멘트 남기기 </th>
				</tr>
			</thead>
			<tbody>
				{% for c in todo_comment_list %}
				<tr>
					<td>{{ c.semester }}</td>
					<td>{{ c.code }}</td>
					<td>{{ c.lecture_name }}</td>
					<td>{{ c.prof }}</td>
					<td><a href="{{ c.url }}">바로가기</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="clear" style="height:10px;"></div>
{% endblock %}
