{% extends 'dictionary/base.html' %}
{% block header_main %}

<script type="text/javascript">
//<![CDATA[
$(document).ready(function () {
    Data.Professor = {{professor|safe}};
	Data.ProfInfo = {{prof_info|safe}};
    Data.Comments = [];
    ProfessorCommentList.initialize();
});
//]]>
</script>

{% endblock %}
{% block main %}
<div id="main-side">
    <div id="professor">
        <div id="professor-info-title"> 교수정보 </div>
        <div id="professor-info-back">
            <div id="professor-info">
            </div>
        </div>
        <div id="Notifier">
            <div class="left" id="message-wrap">
                <div class="bl"><div class="br">
                        <div id="message">{% trans "안녕하세요. 이 서비스는 <strong>SPARCS</strong>에서 제공하고 있습니다." %}</div>
                </div></div>
            </div>
        </div>
        <div id="educated-course">
            <div class="professor-title">
                <div class="tl"><div class="tr"><div class="bl"><div class="br">
                                가르친 과목
                </div></div></div></div>
            </div>
	    <div id="course-view">
                {% for course in courses %}
				<li class="course"> <a href="/dictionary/view/{{course.old_code}}/">{{ course.title }} </a> </li>
                {% endfor %}
            </div>
        </div>
        <div id="prof-recent-comments">
            <div class="professor-title">
                <div class="tl"><div class="tr"><div class="bl"><div class="br">
                                최근 코멘트
                </div></div></div></div>
            </div>
            <div id="course-comment-view">
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
