{% extends 'dictionary/base.html' %}
{% block header_main %}

{% if user.is_authenticated %}
<script type = "text/javascript">
	$(document).ready(function() {
		Data.user_id = {{user.id}};	
	});
</script>
{% endif %}

<script type="text/javascript">
$(document).ready(function () {
	Data.DictionaryComment = [];
	Data.Course = {{course|safe}};
	Data.Lectures = {{lectures|safe}};
    Data.Professors = {{professors|safe}};
	Data.current_professor_id = {{select_professor}};
	Data.select_year = {{select_year}};
	Data.select_semester = {{select_semester}};
	Data.comment_id = -1;
	DictionaryCommentList.initialize();
	FavoriteController.initialize();
	$(function() {
		$("#lecture-rating").dialog();
		$(".ui-dialog-titlebar").remove();
		$('#lecture-rating').dialog().parent().css('position','absolute');
		$('#lecture-rating').dialog({ closeOnEscape: false, width:750, position:[$(this).outerWidth()/2-260,180]});
		$('#lecture-rating').hide();
		$('#new-comment-score').raty({
			number: 3,
			half: true,
			hints: ['박함', '중간', '후함']
			});
		$('#new-comment-load').raty({
			number: 3,
			half: true,
			hints: ['빡셈', '중간', '널널']
			});
		$('#new-comment-gain').raty({
			number: 3,
			half: true,
			hints: ['적음', '중간', '많음']
			});
	});
});
</script>

{% endblock %}
{% block main %}
<div id="main-side">
	<div id="course-favorite">
		<input type="submit" name="addFavorite" value="즐겨찾기 추가" style="cursor:pointer"/>
	</div>
	<div id="course-description">
		<div id="course-professor">
		</div>
		<div id="course-summary">
		</div>
	</div>
	<div id="Notifier">
            <div class="left" id="message-wrap">
				<div class="bl"><div class="br">
						{% if user.is_authenticated %}
						<div id="message">{% ifequal same_name "" %}{% trans "안녕하세요. 이 서비스는 <strong>SPARCS</strong>에서 제공하고 있습니다." %}{% else %}이 과목은 {{same_name}}의 코멘트가 같이 보여 집니다{% endifequal %}</div>
						{% else %}
						<div id="message">{% trans "로그인을 하셔야 코멘트를 남길 수 있습니다." %}</div>
						{% endif %}
                </div></div>
	    </div>
	</div>
	<div id="course-comment">
		{% if user.is_authenticated %}
		<div class="dictionary-title">
			<div id="course-comment-add-title">나도 코멘트 달기!</div>
		</div>
		<div id="course-comment-add">
			<div id="course-comment-add-semester">
				학기
				<select name="new-comment-semester" id="new-comment-semester">
				</select>
			</div>
			<div id="course-comment-add-professor">
				담당교수
				<select name="new-comment-professor" id="new-comment-professor">
				</select>
			</div>
			<div class="course-comment-add-eval">
				<div>학점</div>
				<div id="new-comment-score"></div>
			</div>
			<div class="course-comment-add-eval">
				<div>로드</div>
				<div id="new-comment-load"></div>
			</div>
			<div class="course-comment-add-eval">
				<div>남는거</div>
				<div id="new-comment-gain"></div>
			</div>
			<textarea id="course-comment-add-text"></textarea>
			<input type="submit" id="course-comment-add-submit" value="{% trans "남기기" %}" />
		</div>
		{% endif %}
		<div class="dictionary-title">
			<div id="course-comment-view-title">최근 코멘트</div>
		</div>
		<div id="course-comment-view">
		</div>
	</div>
</div>
<div id='lecture-rating'></div>
<div class="clear"></div>
{% endblock %}
