{% extends 'layout.html' %}
{% load yearterm %}
{% block headers %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}favorites.css" />
<script type="text/javascript">
//<!--
var LinkThumb = {
	initialize: function(wrap, anchors)
		{
			this.wrap = $(wrap);
			this.anchors = $(anchors);
			this.isOver = false;
			this.onLoad();
		},
	onLoad: function()
		{
			this.thumb = $('<div>', {'class':'linkthumb'});
			this.img = $('<img>').appendTo(this.thumb);
			this.thumb.hide().appendTo(document.body);
			this.registerHandlers();
		},
	registerHandlers: function()
		{
			$(document).bind('mousemove.linkthumb', $.proxy(this.onMove, this));
			$.each(this.anchors, $.proxy(function(index, item) {
				$(item)
				.bind('mouseover.linkthumb', $.proxyWithArgs(this.onOver, this, item))
				.bind('mouseout.linkthumb', $.proxy(this.onOut, this));
			}, this));
		},
	onMove: function(e)
		{
			if (this.isOver) {
				this.thumb.css({
					'left': e.pageX + 20,
					'top': e.pageY + 20
				});
			}
		},
	onOver:function(e, item)
		{
			this.img.attr('src', 'http://open.thumbshots.org/image.aspx?url='+encodeURIComponent(item.href));
			this.thumb.stop(true,true).fadeIn();
			this.isOver=true;
			this.onMove(e);
		},
	onOut:function(e)
		{
			this.thumb.stop(true,true).hide(0);
			this.img.attr('src', '');
			this.isOver=false;
		}
};
$(document).ready(function () {
	LinkThumb.initialize('#publicFavorites', '.favorite-link');
	LinkThumb.initialize('#publicFavorites', '.search-link');
});
//-->
</script>
<script type="text/javascript">
function CheckNull(form)
{
	if(form.name.value.length==0)
	{
		alert("{% trans "내용을 작성해주세요. ex) CS408 전산학 프로젝트" %}");
		form.name.focus();
		return false;
	}
	else if(form.url.value.length==0)
	{
		alert("{% trans "과목 홈페이지를 작성해주세요. ex) http://otl.kaist.ac.kr" %}");
		form.url.focus();
		return false;
	}
	else return true;
}
</script>


{% endblock %}
{% block content %}
<h2>{{course.code}} {{course.title}}</h2>
<div class="dictionary_part">
    <span>{% trans "과목 정보" %}</span>
    <ul class="course_description">
        <li>{% trans "과목 코드" %} : {{course.code}}</li>
        <li>{% trans "학과" %} : {{course.department.name}}</li>
        <li>{% trans "과목 이름" %} : {{course.title}}</li>
        <li>{% trans "과목 구분" %} : {{course.type}}</li>
        <li>{% trans "학년 구분" %} : {{course.audience}}</li>
        <li>{% trans "학점" %} : {{course.credit}}</li>
        <li>{% trans "강의 시간" %} : {{course.num_classes}}</li>
        <li>{% trans "실험 시간" %} : {{course.num_labs}}</li>
        <li>{% trans "인원 제한" %} : {{course.limit}}</li>
        <!--      <li>영어 강의 : {{course.is_english}}</li>-->
    </ul>
</div>
<div class="dictionary_part">
    <span>{% trans "과목 소개" %}</span>
    <div>
        {{course.summary}}
    </div>
</div>
<div class="dictionary_part">
    <span>{% trans "선수 과목" %}</span>
    <div>
        {% for course in course.requiste_courses %}
            {{course.title}} 
        {% endfor %}
    </div>
</div>
<div class="dictionary_part">
    <span>{% trans "역대 강의" %}</span>
    <ol>
        {% for lecture in course.lectures.all %}
        <li>
            <div>{{lecture.year}} {{lecture.semester}} {{lecture.department.name}} {{lecture.class_no}} {{lecture.title}} {{lecture.type}} 교수: {{lecture.professor}}</div>
            <div>
                {% trans "강의평가" %} : {% for lectureRating in lecture.lecturerating_set.all %}
                {% trans "평균점수" %} {{lectureRating.rating}}{% trans "점" %}, {% trans "표준편차" %} {{lectureRating.standard_deviation}}, {% trans "응답자수"} {{lectureRating.number_of_respondents}}, {% trans "수강생수" %} {{lectureRating.number_of_students}}, {% trans "응답율" %} {{lectureRating.rate_of_responds}}
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ol>
    <div><br/>{% trans "강의평가 자료는 학교에서 수강생들을 대상으로 강의 후 평가한 자료입니다." %}</div>
</div>
<div class="dictionary_part">
    <span>{% trans "코멘트들" %}</span>
    <div class="course_comments">
        {% for comment in comments %}
        <div class="dictionary_comment">
            <div class="dictionary_comment_content">
                {{comment.comment}}
            </div>
            <div class="dictionary_comment_eval">
                {% trans "평가" %} - {% trans "로드" %} : <span>{{comment.load_str}}</span>, {% trans "학점" %} : <span>{{comment.score_str}}</span>, {% trans "남는거" %} : <span>{{comment.gain_str}}</span>
                , By {{comment.writer}} ({{comment.written|date:"Y/m/d"}})
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="dictionary_part">
    <span>{% trans "코멘트 남기기" %}</span>
    {% if user.is_authenticated %}
    <form action="/dictionary/add_comment/{{course.id}}" method="post">
        <div class="course_comment_lectures">
            {% trans "평가를 내릴 강의" %} :
            {% for lecture in course.lectures.all %}
            <div>
                <input type="radio" name="lecture_id" value="{{lecture.id}}"/> {{lecture}} {{lecture.professor}}
            </div>
            {% endfor %}
        </div>
        <div class="course_comment_form_load">
            {% trans "로드" %} : 
            <input type="radio" name="load" value="False"/> {% trans "쉬움" %}
            <input type="radio" name="load" value="None/"/> {% trans "무난" %}
            <input type="radio" name="load" value="True"/> {% trans "힘듬" %}
        </div>
        <div class="course_comment_form_score">
            {% trans "학점" %} :
            <input type="radio" name="score" value="False"/> {% trans "박함" %}
            <input type="radio" name="score" value="None"/> {% trans "무난" %}
            <input type="radio" name="score" value="True"/> {% trans "후함" %}
        </div>
        <div class="course_comment_form_gain">
            {% trans "남는거" %} :
            <input type="radio" name="gain" value="False"/> {% trans "없음" %}
            <input type="radio" name="gain" value="None"/> {% trans "있음" %}
        <input type="radio" name="gain" value="True"/> {% trans "많음" %}
        </div>
        <div>
            <textarea name="comment" cols="50" rows="5"></textarea>
        </div>
        <div>
            <input type="submit" name="submitComment" value="{% trans "남기기" %}" />
        </div>
    </form>
    {% else %}
    <div>
        {% trans "로그인을 하셔야 코멘트를 남길 수 있습니다." %}
    </div>
    {% endif %}
</div>
{% endblock %}
