<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>OTL - Calendar</title>
	<title>OTL - Calendar</title>
	<link rel="stylesheet" type="text/css" href="/media/default.css"/>
	<link rel="stylesheet" type="text/css" href="/media/calendar.css"/>
	<link rel="stylesheet" type="text/css" href="/media/js/scal/styles/scal.css"/>

	<script type="text/javascript" src="/media/js/prototype/prototype-1.6.0.3.js"></script>
	<script type="text/javascript" src="/media/js/scriptaculous/src/scriptaculous.js?load=effects,builder"></script>
	<script type="text/javascript" src="/media/js/layoutmanager/src/layout_manager.js"></script>
	<script type="text/javascript" src="/media/js/scal/javascripts/scal.js"> </script>
	<script type="text/javascript" src="/media/js/browserdetect/browserdetect.js"></script>
<script type="text/javascript">

var LayoutMgr;

var DrawBlock =	{
initialize:
	function(){
		this.grid=$('grid');
		this.dragging=false;
		this.onLoad();
		this.registHandlers();
	},
onLoad:
	function(){
		this.block=Builder.node('div',{'class':'block-drag'});
		this.block.style.width=(this.grid.offsetWidth/7-3)+'px';
		this.block.hide();
		this.grid.appendChild(this.block); 
	},
registHandlers:
	function(){
		Event.observe(this.grid,'mousedown',this.onStart.bindAsEventListener(this));
		Event.observe(document,'mousemove',this.onDrag.bindAsEventListener(this));
		Event.observe(document,'mouseup',this.onEnd.bindAsEventListener(this));
	},
getPosition:
	function(wrap,e)
	{
		var  wrapOffsets = Position.cumulativeOffset(wrap);
		while( wrap.nodeName != 'BODY' ) 
		{
			wrapOffsets[1] -= wrap.scrollTop  || 0;
			wrapOffsets[0] -= wrap.scrollLeft || 0;
			wrap = wrap.parentNode;
		}           
		return {
			x : (Event.pointerX(e)-wrapOffsets[0]),
			y : (Event.pointerY(e)-wrapOffsets[1])
		};
	},
getTime:
	function(curPos){
		var days=['일','월','화','수','목','금','토'];
		var w = this.grid.offsetWidth/7;
		return {
			index : Math.floor(this.startPos.x/w),
			whatday : days[Math.floor(this.startPos.x/w)],
			start : Math.floor(this.startPos.y/21)*30,
			end   : Math.floor(curPos.y/21+1)*30
		};
	},
min2time:
	function(minutes)
	{
		var str = (minutes<12*60)?'오전 ':'오후 ';
		str+=Math.floor(minutes/60);
		str+=((minutes % 60)==0)?'시':':'+(minutes % 60);
		return str;
	},
onStart:
	function(e){
		Popup.hide();
		this.dragging=true;
		this.startPos = this.getPosition(this.grid,e);
		var w = this.grid.offsetWidth/7;

		var x =  Math.floor(this.startPos.x/w)*w+3;
		var y =  Math.floor(this.startPos.y/21)*21;

		this.block.style.left=x+'px';
		this.block.style.top=y+'px';
		this.block.style.height='21px';
		this.block.show();
		this.draw(this.startPos);
		Event.stop(e);
	},
onDrag:
	function(e){
		if(this.dragging)
		{
			var curPos = this.getPosition(this.grid,e);
			this.draw(curPos);
		}
	},
draw:function(curPos)
	 {
		var height = Math.floor((curPos.y-this.startPos.y)/21+1)*21;
		this.block.style.height=height +'px';
		var time = this.getTime(curPos);
		this.block.update(time.whatday+'요일 '+this.min2time(time.start)+' - '+this.min2time(time.end));
	 },
onEnd:
	function(e){
		if(this.dragging)
		{
			this.dragging=false;
			var curPos = this.getPosition(this.grid,e);
			var time = this.getTime(curPos);
			this.draw(curPos);
			Popup.show(time);
		}
	}
};



MWCalendar = 
{
initialize:
	function(){

		this.onLoad();
		this.registHandlers();
	},
onLoad:
	function(){
		var options ={
			oncalchange:this.onChange.bindAsEventListener(this),
			titleformat:'mmmm yyyy',
			updateformat:'yyyy-mm-dd',	
			dayheadlength:2,
			weekdaystart:0,
			tabular:false,
			planner:false
		};
		this.scal= new Scal('calendar',this.onChange.bindAsEventListener(this), options);
		this.goToday();
	},
registHandlers:
	function(){
		Event.observe($('today'),'click',this.goToday.bind(this));
		Event.observe($('prev-week'),'click',this.goPrevWeek.bind(this));
		Event.observe($('next-week'),'click',this.goNextWeek.bind(this));
	},
goToday:
	function(){
		this.scal.setCurrentDate(new Date());
	},
goNextWeek:
	function(){
		var next = new Date();
		next.setTime(this.scal.currentdate.getTime()+(1000*60*60*24*7));
		this.scal.setCurrentDate(next);
	},
goPrevWeek:
	function(){
		var prev = new Date();
		prev.setTime(this.scal.currentdate.getTime()-(1000*60*60*24*7));
		this.scal.setCurrentDate(prev);
	},
onChange:
	function(d)
	{
		var dt = (d instanceof Date) ? d : d.date;
		var week=this.getWeek(dt);
		this.updateCurrentDate(week);
		this.updateCurrentChead(week);
		var el = this.scal.getElementByDate(dt).siblings().each(function(elem){
			elem.addClassName('dayselected');
		});
	},
getWeek:
	function(d)
	{
		var oneday=1000*60*60*24;
		var week = [];
		for (var i=0;i<7;i++)
		{
			var day = new Date();
			day.setTime(d.getTime()+((i-d.getDay()) * oneday));
			week.push({
				whatday: day.getDay(),
				month: day.format('mm'),
				day: day.format('dd'),
				year: day.getFullYear(),
				dt: day
			});
		}
		return week;
	},
updateCurrentDate:
	function(week)
	{
		var s = week[0].year+'년 '+week[0].month+'월 '+week[0].day+'일 - ';
		if (week[0].year!=week[6].year) s+=week[6].year+'년 ';
		if (week[0].month!=week[6].month) s+=week[6].month+'월 ';
		s+=week[6].day+'일';
		$('current-date').update(s);
	},
updateCurrentChead:
	function(week)
	{
		var days=['일','월','화','수','목','금','토'];
		for(var i=0;i<7;i++)
		{
			$('chead'+i).update(week[i].month+'/'+week[i].day+' ('+days[week[i].whatday]+')');
			if (week[i].dt.format('yy-mm-dd')==(new Date()).format('yy-mm-dd'))
				$('chead'+i).addClassName('today');
			else
				$('chead'+i).removeClassName('today');
		}
	}
};

Popup=
{
initialize:
	function(){
		this.popup=$('popup');
		this.popup.hide();
		this.registHandlers();
	},
show:
	function(time){
		$('schedule-time').update(DrawBlock.min2time(time.start)+' - '+DrawBlock.min2time(time.end));
		$('schedule-summary').value='';
		$('schedule-location').value='';
		$('schedule-description').value='';
		this.popup.show();
		$('schedule-summary').activate();
	},
hide:
	function(){
		DrawBlock.block.hide();
		this.popup.hide();
	},
registHandlers:
	function(){
		Event.observe(document,'keypress',function(e){
			if (e.keyCode==27&&this.popup.visible) this.hide();
		}.bind(this));
		Event.observe($('left-side'), 'mousedown', this.hide.bind(this));
		Event.observe($('gbar'), 'mousedown', this.hide.bind(this));
		Event.observe($('navigation'), 'mousedown', this.hide.bind(this));
		Event.observe($('navigator'), 'mousedown', this.hide.bind(this));
		Event.observe($('timetable-top'), 'mousedown', this.hide.bind(this));
		Event.observe($('rowheaders'), 'mousedown', this.hide.bind(this));
		Event.observe($('popup-submit'), 'click', this.onSubmit.bind(this));
	},
onSubmit:
	function(){
		//TODO validate
		//TODO ajax call
		alert(
			$('schedule-time').innerHTML+' '+
			$('schedule-summary').value+' '+
			$('schedule-location').value+' '+
			$('schedule-description').value
		);
		this.hide();
	},
validate:
	function(){
	},
update:
	function(){
	}
};

	Event.observe(window, "load", function() { 
		BrowserDetect.init();
		var resizeHandler = function()
		{
			$('grid-wrap').style.width=($('grid-wrap').parentNode.offsetWidth-$('rowheaders').offsetWidth)+'px';
			if(BrowserDetect.browser=='Explorer')
			{
				$('grid').style.width = ($('grid').offsetWidth-18)+'px';
			}
		};
		LayoutMgr = new LayoutManager(null,{resizeHandler:resizeHandler}); 
		Popup.initialize();
		DrawBlock.initialize();
		MWCalendar.initialize();
	});
	</script>
</head>
<body>
	<div id="wrap" class="lm_container">
        <div id="gbar" class="lm_top">
            <div id="gbar-content">
                <h1 id="global-logo">
                    <span style="color:#00CCFF">Online</span>
                    <span style="color:#FA0088">Timeplanner</span>
                    <span style="font-size:12px">with</span>
                    <span style="color:#009900">Lectures</span>
                    &nbsp;
                    <div class="none">
                    <small><span style="color:#FF3399">S</span><span style="color:#33CC66">P</span><span style="color:#00CCFF">A</span><span style="color:#FF9900">R</span><span style="color:#33CCCC">C</span><span style="color:#9966FF">S</span></small>
                    </div>
                </h1> 
                <div id="global-info">
					{% if user.is_authenticated %}
					{{ user }}{% if user.is_superuser %} (관리자){% endif %} | <a href="/accounts/myinfo">내 계정</a> | <a href="/logout/">로그아웃</a>
					{% else %}
					<a href="/login/">로그인</a>
					{% endif %}
                </div>
                <div class="clear"></div>
            </div>
        </div>
		<div class="lm_left" style="width:8px"></div>
		<div id="left-side" class="lm_left">
			<div class="lm_container">
				<div  class="header lm_top">
					<div class="logo"></div>
				</div>
				<div  class="header-bottom lm_top"></div>
				<div class="lm_top" style="height:40px"></div>
				<div id="calendar-container" class="lm_top">
					<div id="calendar-wrap" style="line-height:normal;">
						<div id="calendar" class="googleblue"></div>
					</div>
				</div>
				<div class="lm_center">
					<br />
					<div class="side-box">
						<div class="top"><div>내 캘린더</div></div>
						<div id="calendar-list" class="content-wrap">
							<div class="content">
								<div class="calendar-item">
									<div class="name tl"><div class="tr"><div class="bl"><div class="br">내 캘린더</div></div></div></div>
									<a class="color"></a>
									<div class="clear"></div>
								</div>
								<div class="calendar-item">
									<div class="name tl"><div class="tr"><div class="bl"><div class="br">내 캘린더</div></div></div></div>
									<a class="color"></a>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="bottom"><div>
							<a class="right" id="add-calendar">만들기</a>
						</div></div>
					</div>
					<div id="dump"></div>
				</div>
				<div class="lm_right" style="width:6px"></div>
			</div>
		</div><!--lm_top-->
		<div class="lm_center">
			<div class="lm_container">
				<div class="header lm_top">
					<div id="navigation">
						<div class="navigation-wrap">
							<a class="left{% ifequal section 'calendar' %} selected{% endifequal %}" href="/calendar/">일정 관리</a>
							<a class="left{% ifequal section 'appointment' %} selected{% endifequal %}" href="/appointment/">약속 잡기</a>
							<a class="left{% ifequal section 'groups' %} selected{% endifequal %}" href="/groups/">조모임</a>
							<a class="left{% ifequal section 'favorites' %} selected{% endifequal %}" href="/favorites/">과목 즐겨찾기</a>
							<a class="left{% ifequal section 'board' %} selected{% endifequal %}" href="/board/lecture/">과목 Q&amp;A</a>
							<a class="left{% ifequal section 'timetable' %} selected{% endifequal %}" href="/timetable/">모의 시간표</a>
							<a class="right{% ifequal section 'info' %} selected{% endifequal %}" href="#">개발자 노트</a>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="header-bottom lm_top"></div>
				<div class="lm_top" style="height:5px"></div>
				<div id="navigator" class="lm_top" style="height:26px">
					<a id="prev-week"></a>
					<a id="next-week"></a>
					<button id="today">이번주</button>
					<span id="current-date">2009년 4월 13일 – 9일 </span>
					<div class="tl message"><div class="tr"><div class="bl"><div class="br" style="padding:2px 10px">일정이 삭제 되었습니다</div></div></div></div>
					<button class="right" id="refresh">새로고침</button>
				</div>
				<div id="center-left" class="lm_left"></div>
				<div id="center" class="lm_center">
					<div class="lm_container">
						<div id="timetable-top" class="lm_top">
							<div class="lm_container">
								<div class="lm_left" style="width:61px">
								</div>
								<div class="lm_center">
									<div id="colheaders">
										<div id="chead0" class="chead"></div>
										<div id="chead1" class="chead"></div>
										<div id="chead2" class="chead"></div>
										<div id="chead3" class="chead"></div>
										<div id="chead4" class="chead"></div>
										<div id="chead5" class="chead"></div>
										<div id="chead6" class="chead"></div>
										<div class="clear"></div>
									</div>
									<div id="day-schedule">
										days-schelue
									</div>
								</div>
								<div class="lm_right" style="width:17px"></div>
							</div>
						</div>
						<div class="lm_top" style="height:6px;background:#C3D9FF"></div>
						<div id="timetable-wrap" class="lm_center">
							<div id="timetable">
								<div id="rowheaders" class="lm_left">
									<div class="rhead"><span>오전 12시</span></div>
									<div class="rhead"><span>오전 1시</span></div>
									<div class="rhead"><span>오전 2시</span></div>
									<div class="rhead"><span>오전 3시</span></div>
									<div class="rhead"><span>오전 4시</span></div>
									<div class="rhead"><span>오전 5시</span></div>
									<div class="rhead"><span>오전 6시</span></div>
									<div class="rhead"><span>오전 7시</span></div>
									<div class="rhead"><span>오전 8시</span></div>
									<div class="rhead"><span>오전 9시</span></div>
									<div class="rhead"><span>오전 10시</span></div>
									<div class="rhead"><span>오전 11시</span></div>
									<div class="rhead"><span>오후 12시</span></div>
									<div class="rhead"><span>오후 1시</span></div>
									<div class="rhead"><span>오후 2시</span></div>
									<div class="rhead"><span>오후 3시</span></div>
									<div class="rhead"><span>오후 4시</span></div>
									<div class="rhead"><span>오후 5시</span></div>
									<div class="rhead"><span>오후 6시</span></div>
									<div class="rhead"><span>오후 7시</span></div>
									<div class="rhead"><span>오후 8시</span></div>
									<div class="rhead"><span>오후 9시</span></div>
									<div class="rhead"><span>오후 10시</span></div>
									<div class="rhead"><span>오후 11시</span></div>
								</div><!--rowheaders-->
								<div id="grid-wrap">
									<div id="grid">
										<table id="table">
											<tbody>
											<tr>
												<td id=""></td>
												<td id=""></td>
												<td id=""></td>
												<td id=""></td>
												<td id=""></td>
												<td id=""></td>
												<td id=""></td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div><!--timetable-->
						</div> <!--timetable-wrap-->
					</div><!--lm_container-->
				</div><!--center-->
				<div id="center-bottom" class="lm_bottom"><div></div></div>
				<div class="lm_bottom" style="height:8px;"></div>
			</div><!--lm_container-->
		</div><!--wrap-->
		<div class="lm_right" style="width:8px"></div>
	</div><!--lm_container-->
	<div id="popup">
		<table class="container">
			<thead>
				<tr>
					<td class="north-west"></td>
					<td class="north"></td>
					<td class="north-east">
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="west"></td>
					<td class="middle">	
						<table>
							<tr>
								<td>시간:</td>
								<td><span id="schedule-time"></span></td>
							</tr>
							<tr>
								<td>내용:</td>
								<td><input id="schedule-summary" size="35" type="text" /></td>
							</tr>
							<tr>
								<td>장소:</td>
								<td><input id="schedule-location" size="35" type="text" /></td>
							</tr>
							<tr>
								<td>설명:</td>
								<td><textarea id="schedule-description" rows="4" cols="30"></textarea></td>
							</tr>
							<tr>
								<td>캘린더:</td>
								<td>
									<select id="schedule-calendar">
										<option>내 캘린더</option>
										<option>내 캘린더</option>
										<option>내 캘린더</option>
										<option>내 캘린더</option>
									</select>
								</td>
							</tr>
						</table>
						<button class="right"id="popup-submit">일정 만들기</button>
					</td>
					<td class="east"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="south-west"></td>
					<td class="south"></td>
					<td class="south-east"></td>
				</tr>
			</tfoot>
		</table>
		<a id="popup-close" onclick="$('popup').hide();return false;"></a>
		<div id="popup-arrow"></div>
	</div>
</body>
</html>
