{% extends 'layout.html' %}
{% block headers %}
	<link rel="stylesheet" type="text/css" href="/media/table.css" />
	<link rel="stylesheet" type="text/css" href="/media/timetable.css" />
	<script type="text/javascript" src="/media/js/mootools/mootools-1.2.1-core-yc.js"></script>
	<script type="text/javascript" src="/media/js/mootools/mootools-1.2-more-yc.js"></script>
	<script type="text/javascript">
	var Data = {};
	Data.Map = 
	[
		{code:'N7',name:'기계공학동', x:227,y:247},
		{code:'W1',name:'응용공학동', x:217,y:515},
		{code:'E11',name:'창의학습관', x:368,y:356},
		{code:'N4',name:'대학 1호관', x:432,y:251},
		{code:'N5',name:'대학 2호관', x:517,y:243},
		{code:'N8',name:'대학 3호관', x:435,y:231},
		{code:'E6',name:'자연과학동', x:474,y:391},
		{code:'E16',name:'정문술빌딩', x:367,y:313},
		{code:'E2',name:'산업경영동', x:405,y:495},
		{code:'E7',name:'의과학연구센터', x:529,y:369},
		{code:'E3',name:'정보전자동', x:494,y:446},
		{code:'',name:'궁리실험관', x:422,y:373}
	];


	Data.Lectures = {{lectures_json|safe}};
	/*
	Data.Lectures = 
	[
		{
			id:'1',
			year:'2008',
			term:'3',
			dept:'전산학전공',
			classification:'기초필수',
			course_no:'CE202',
			'class':'A',
			code:'37.231',
			title:'데이타구조',
			lec_time:'2',
			lab_time:'3',
			credit:'3',
			prof:'김민우',
			times:[{day:'화',start:480,end:600},{day:'수',start:480,end:600}],
			classroom:'창의학습관 304',
			fixed_num:'200',
			remarks:'영어강의',
			examtime:{day:'화,start:480,end:630}
		}
	];
	*/

	var Mootabs = new Class({
		initialize: function(tabs, contents, trigerEvent) 
		{
			if (trigerEvent==null) trigerEvent = 'mouseover';
			this.data = [];

			this.tabs = $(tabs).getChildren();
			this.contents = $(contents).getChildren();
			this.tabs.each(function(item,key) 
			{
				this.data[key] = {credit:0,au:0};
				item.addEvent(trigerEvent, function()
					{
						this.activate(key);
					}.bind(this)
				);
			}.bind(this));
			this.contents.each(function(item)
			{
				item.addClass('none');
			});

			this.activate(0);
		},
		setData:function(index,data)
		{
			this.data[index] = data;
		},
		updateData:function()
	   	{
			$('total_credit').set('html',this.data[this.activeKey].credit);
			$('total_au').set('html',this.data[this.activeKey].au);
	   	},
		activate: function(key)
		{
			this.tabs.each(function(item,index)
			{
				if (index==key)
					item.addClass('active');
				else
					item.removeClass('active');
			});
			this.contents.each(function(item,index)
			{
				if (index==key) item.removeClass('none');
				else item.addClass('none');
			});
			this.activeKey = key;

			this.updateData();
		},
		cleanActiveTab:function()
	   	{
			this.contents[this.activeKey].empty();
	   	},
		getActiveTab:function()
		{
			return this.contents[this.activeKey];
		},
		getTabByKey:function(key)
		{
			return this.contents[key];
		},
		getTableId:function()
	   	{
			return this.activeKey;
	   	}
	});

	UDF=
	{
		modulecolors : ['#FFC7FE','#FFCECE','#DFE8F3','#D1E9FF','#D2F1EE','#FFEAD1','#E1D1FF','#FAFFC1','#D4FFC1','#DEDEDE','#BDBDBD'],
		getRandomColor:function()
		{
			return UDF.modulecolors[Math.floor(Math.random()*10)];
		},
		getColorByIndex:function(index)
		{
			index =index*3;
			index = UDF.modulecolors.length % index;
			return UDF.modulecolors[index];
		},
		cumulativeOffset : function(el)
		{
			var valueT = 0, valueL = 0;
			do {
				valueT += el.offsetTop  || 0;
				valueL += el.offsetLeft || 0;
				el = el.offsetParent;
			} while (el);
			return {x:valueL,y:valueT};
		},
		mousePos:function(e, wrap)
		{
			var event =new Event(e);
			var pos= UDF.cumulativeOffset(wrap);
			return { 
				x:(event.page.x-pos.x),
				y:(event.page.y-pos.y)
			}
		},
		clickable : function(o)
		{
			o.addEvent('mousedown',function(){ o.addClass('clicked') });
			document.addEvent('mouseup',function(){ o.removeClass('clicked') });
		}
	}

	Map = {
		initialize:function()
		{
			this.container = $('map-drag-container');
			this.dragmap = $('dragmap');
			this.maptext= $('map-text');
			this.settings = 
			{
				cW:this.container.offsetWidth,
				cH:this.container.offsetHeight,
				dW:this.dragmap.offsetWidth,
				dH:this.dragmap.offsetHeight
			}

			this.dragging = false;
			this.clickPos = null

			this.dragmap.setStyle('left',-258);
			this.dragmap.setStyle('top',-270);
			this.registHandles();
		},
		registHandles:function()
		{
			this.fx = new Fx.Morph(this.dragmap, {
				wait:false,
				duration:250,
				transition: Fx.Transitions.Quad.easeInOut
				});

			this.dragmap.addEvent('mousedown',this.onMousedown.bindWithEvent(this));
			document.addEvent('mousemove', this.onDrag.bindWithEvent(this));
			document.addEvent('mouseup', this.onEnd.bindWithEvent(this));

			$('test').addEvent('click',
				function()
				{
					this.find(Data.Map.getRandom().name);
				}.bind(this)
			);
		},
		onMousedown:function(e)
		{
			this.dragging=true;
			this.clickPos = UDF.mousePos(e,this.dragmap);
			e.stop();
		},
		onDrag:function(e)
		{
			if (this.dragging)
			{
				var pos = UDF.mousePos(e,this.container);
				pos.x-=this.clickPos.x;
				pos.y-=this.clickPos.y;

				var s = this.settings;
				var left = (pos.x).limit((s.cW-s.dW+2), 0);
				var top = (pos.y).limit((s.cH-s.dH+2), 0);
				this.dragmap.style.left=left+'px';
				this.dragmap.style.top=top+'px';

				e.stop();
			}
		},
		onEnd:function(e)
		{
			if (this.dragging)
			{
				this.dragging=false;
				e.stop();
			}
		},
		move:function(x,y)
		{
			var s = this.settings;

			x-=(s.cW/2);
			y-=(s.cH/2);

			var left = (x).limit(0, s.dW-s.cW);
			var top = (y).limit(0, s.dH-s.cH);
			this.fx.start({
					left : (-left),
					top :(-top)
				});
		},
		find:function(name)
		{
			var arr = Data.Map.filter(function(item)
			{
				return item.name==name;
			});
			if (arr.length==0) return;

			var item = arr[0];
			var x = item.x;
			var y = item.y;
			this.maptext.style.left=(x-6)+'px';
			this.maptext.style.top=(y-60)+'px';
			$('map-name').innerHTML=item.code+' '+item.name;
			this.move(x,y);
		}
	};

	LectureList ={
		initialize:function(tabs,contents)
		{
			this.tabs = $('lecture_tabs');
			this.contents = $('lecture_contents');
			this.data = $A(Data.Lectures);
			this.dept = $('department');
			this.classf= $('classification');

			this.registHandles();
			this.onChange();
		},
		registHandles:function()
		{
			this.dept.addEvent('change',this.onChange.bind(this,'dept'));
			this.classf.addEvent('change',this.onChange.bind(this,'dept'));
		},
		onChange:function()
		{
			var dept = this.dept.options[this.dept.selectedIndex].text;
			var classification = this.classf.options[this.classf.selectedIndex].text;
			this.filter(dept,classification);
		},
		filter:function(dept,classification)
		{
			var filtered = (dept=='전체보기') ? this.data : this.data.filter(function(item) {return item.dept==dept});
			var filtered = (classification=="전체보기") ? filtered : filtered.filter(function(item) {return item.classification==classification});
			
			var category = (classification=="전체보기") ? 'classification' : 'dept';

			var cluster = this.clustering(filtered, category)
			this.build(cluster, category);
		},
		buildTabs:function(n)
		{
			this.tabs.empty();
			for (var i=1;i<=n;i++)
				new Element('div',{'html':i}).inject(new Element('div',{'class':'lecture_tab'}).inject(this.tabs));
		},
		getCategories:function(arr,category)
		{
			var categories = [];
			arr.each(function(item)
			{
				var key = $H(item).get(category);
				if (!categories.contains(key))
					categories.push(key);
			});
			return categories;
		},
		clustering:function(arr,category)
		{
			var categories = this.getCategories(arr,category);
			var ret = [];
			categories.each(function(key)
			{
				arr.each(function(item){ 
					if($H(item).get(category)==key) ret.push(item) 
				});
			});
			return ret;
		},
		build:function(cluster,category)
		{
			this.contents.empty(); 
			var max = 8;
			var count=0;
			var content = new Element('div',{'class':'lecture_content'}).inject(this.contents);
			var currCategory;
			cluster.each(function(item)
			{
				var key = $H(item).get(category);
				if (currCategory!=key)
				{
					currCategory = key;
					if(count<max) new Element('h4',{'html':currCategory}).inject(content);
				}

				if (count>=max)
				{
					content = new Element('div',{'class':'lecture_content'}).inject(this.contents);
					new Element('h4',{'html':currCategory}).inject(content);
					count=0;
				}
				else count++;

				var el = new Element('a',{'html':item.title}).inject(content);
				UDF.clickable(el);
				
				el.addEvent('mousedown',Timetable.addLecture.bindWithEvent(Timetable,item));
				el.addEvent('mouseover',Timetable.onMouseover.bind(Timetable,item));
				el.addEvent('mouseout',Timetable.onMouseout.bind(Timetable,item));
			}.bind(this));
			this.buildTabs(this.contents.getChildren().length);
			new Mootabs('lecture_tabs','lecture_contents');
		}
	};

	RangeSearch = {
		initialize:function()
	   	{
			this.grid = $('grid');
			this.overlap = $('overlap_modules');
			this.overlap.setStyle('display','none');

			this.dragging=false;
			this.startCell = {row:0,col:0};

			this.options=
			{
				cellHeight:21,
				cellWidth:100
			}
			this.selection=$('cellselected');
			this.selection.setStyle('display','none');

			this.registHandlers();
		},
		registHandlers:function()
		{
			this.grid.addEvent('mousedown',this.onMousedown.bindWithEvent(this));
			document.addEvent('mouseup',this.onEnd.bindWithEvent(this));
			document.addEvent('mousemove',this.onDrag.bindWithEvent(this));
		},
		onMousedown:function(e)
		{
			this.dragging=true;
			var pos = UDF.mousePos(e,this.grid);
			this.startCell = this.getCell(pos);

			var x = (this.startCell.col * this.options.cellWidth)+1;
			var y = (this.startCell.row * this.options.cellHeight);
			this.selection.setStyles(
				{
					display:'block',
					left:x,
					top:y,
					width:this.options.cellWidth,
					height:this.options.cellHeight
				}
			);
			e.stop();
		},
		onDrag:function(e)
		{
			if(this.dragging)
			{
				var pos = UDF.mousePos(e,this.grid);
				var currentCell = this.getCell(pos);
				var cell = this.modCell(this.startCell,currentCell);
				this.draw(cell.c1,cell.r1,cell.c2,cell.r2);
				e.stop();
			}
		},
		onEnd:function(e)
	  	{
			if(this.dragging)
			{
				var pos = UDF.mousePos(e,this.grid);
				var endCell = this.getCell(pos);
				this.selection.setStyle('display','none');
				var cell = this.modCell(this.startCell,endCell);

				var startDay = cell.c1;
				var endDay = cell.c2;
				var startTime = cell.r1*30+480;
				var endTime = cell.r2*30+480;

				alert(startDay+' '+endDay+' '+startTime+' '+endTime);
				this.dragging=false;
			}
	  	},
		modCell:function(cell1,cell2)
		{
			return {
				c1 :Math.max(Math.min(cell1.col,cell2.col),0),
				r1 :Math.max(Math.min(cell1.row,cell2.row),0),
				c2 :Math.min(Math.max(cell1.col,cell2.col),4),
				r2 :Math.min(Math.max(cell1.row,cell2.row),31)
			};
		},
		draw:function(col1,row1,col2,row2)
	 	{
			var x = col1 * this.options.cellWidth + 1; // +1 fix
			var y = row1 * this.options.cellHeight;
			var width = (col2-col1+1) * this.options.cellWidth;
			var height = (row2-row1+1) * this.options.cellHeight;
			this.selection.setStyles(
				{
					left:x,
					top:y,
					width:width,
					height:height
				}
			);
	 	},
		getCell:function(coords)
		{
			var row = Math.floor(coords.y/this.options.cellHeight);
			var col = Math.floor(coords.x/this.options.cellWidth);
			return {row:row,col:col};
		}
		
	};

	

	Timetable ={
		initialize:function()
		{
			this.grid = $('grid');
			this.overlap = $('overlap_modules');
			this.overlap.setStyle('display','none');
			this.tabs = new Mootabs('timetable_tabs','timetable_contents','mousedown');
			this.onLoad();
			this.registHandlers();
		},
		onLoad:function()
	   	{
			var initData = JSON.decode($('timetable_init_json').get('value'));
			initData.each(function(arr,key)
			{
				var credit=0,au=0;
				var wrap = Timetable.tabs.getTabByKey(key);
				arr.each(function(obj,index)
				{
					credit+=obj.credit;
					au+=obj.au;
					var bgcolor = UDF.getColorByIndex(index);
					Timetable.buildlmodules(wrap,obj,bgcolor,true);
				});
				Timetable.tabs.setData(key,{credit:credit,au:au});
			});
			Timetable.tabs.updateData();
	   	},
		registHandlers:function()
	   	{
			$('clean_table').addEvent('click',this.deleteLecture.bindWithEvent(this,null));
	   	},
		onMouseout:function()
		{
			$('add_credit').empty();
			$('add_au').empty();
			this.overlap.setStyle('display','none');
		},
		addLecture:function(e,obj)
		{
			e.stop();
			var table_id = Timetable.tabs.getTableId();
			var lecture_id = obj.id;

			var myRequest = new Request({
				method: 'get', 
				url: '/timetable/add/',
				onSuccess:function(responseText)
				{
					try{
						var resObj = JSON.decode(responseText);
						if (resObj.result=='OK')
						{
							Timetable.update(resObj);
						}
						else
						{
							var msg;
							switch(resObj.result)
							{
								case 'NOT_EXIST':
									msg='강의가 존재하지 않습니다.' ;
								break;
								case 'OVERLAPPED':
								case 'DUPLICATED':
									msg ='강의 시간이 겹칩니다.';
								break;
								case 'ERROR':
									msg = '에러';
								break;
							}
							//'NOT_EXIST','OVERLAPPED', 'DUPLICATED', 'ERROR'
							alert(msg);
						}
					}
					catch(e)
					{
						alert('ERROR!'+e.message);
					}
				},
				onFailure:function(xhr) {
						alert('ERROR');
		  		},
				onComplete:function() {}
			});
			myRequest.send('table_id='+table_id+'&lecture_id='+lecture_id);
		},
		deleteLecture:function(e,obj)
	  	{
			e.stop();
			var confirmMsg,sendMsg,table_id = Timetable.tabs.getTableId();
			if (obj==null) 
			{
				confirmMsg='현재 예비 시간표를 초기화 하겠습니까?';
				sendMsg='table_id='+table_id;
			}
			else
			{
				confirmMsg=obj.title+' 을(를) 예비 시간표에서 삭제 하시겠습니까?';
				sendMsg='table_id='+table_id+'&lecture_id='+obj.id;
			}

			if(confirm(confirmMsg))
			{
				var myRequest = new Request({
					method: 'get', 
					url: '/timetable/delete/',
					onSuccess:function(responseText)
					{
						try{
							var resObj = JSON.decode(responseText);
							if (resObj.result=='OK')
							{
								Timetable.update(resObj);
							}
							else 
							{
								//'NOT_EXIST', 'ERROR'
								alert(resObj.result);
							}
						}
						catch(e)
						{
							alert('ERROR');
						}
					},
					onFailure:function(xhr) {
							alert('ERROR');
					},
					onComplete:function() {}
				});
				myRequest.send(sendMsg);
			}
	  	},
		update:function(resObj)
	   	{
			var credit=0,au=0;
			Timetable.tabs.cleanActiveTab();
			resObj.data.each(function(obj,index)
			{
				credit+=obj.credit;
				au+=obj.au;
				var bgcolor = UDF.getColorByIndex(index);
				Timetable.buildlmodules(Timetable.tabs.getActiveTab(),obj,bgcolor,true);
			});
			
			Timetable.tabs.setData(Timetable.tabs.getTableId(),{credit:credit,au:au});
			Timetable.tabs.updateData();
	   	},
		onMouseover: function(obj)
		{

			var h = $H(obj);
			var keys= h.getKeys();
			keys.each(function(key)
			{
				if ($('DS_'+key)!=null)
				{
					var item = h.get(key);
					if (item!=null)
					{
						if(key=='examtime')
						{
							var days=['월','화','수','목','금'];
							var time=Math.floor(item.start/60)+':'+(item.start%60)+'~'+Math.floor(item.end/60)+':'+(item.end%60);
							$('DS_'+key).innerHTML=days[item.day]+time;
						}
						if(key=='credit'||key=='au')
						{
							$('add_'+key).set('text','(+'+item+')');
							$('DS_'+key).set('text',item);
						}
						else
						{
							$('DS_'+key).set('text',item);
						}
					}
				}
			});

			var classroom = obj.classroom.split(' ')[0]
			Map.find(classroom);


			this.overlap.setStyle('display','block');
			this.overlap.empty();

			var bgcolor = '#FF9933';
			this.buildlmodules(this.overlap,obj,bgcolor,false);
		},
		buildlmodules:function(wrap,obj,bgcolor,enableDelete)
		{
			obj.times.each(function(time)
			{
				var lmodule=new Element('div',{'class':'lmodule'});
				var bg=new Element('div',{'class':'bg'});
				var textbody=new Element('div',{'class':'textbody'});
				bg.inject(lmodule);
				textbody.inject(lmodule);
				var html;
				if (enableDelete) 
				{
					textbody.set('html','<a class="cursor"><strong>'+obj.title+'</strong></a><br />'+obj.prof+'<br />'+obj.classroom+'<br />');
					textbody.getElements('a').addEvent('mousedown',Timetable.deleteLecture.bindWithEvent(Timetable,obj));
				}
				else
					textbody.set('html','<strong>'+obj.title+'</strong><br />'+obj.prof+'<br />'+obj.classroom+'<br />');

				var left = time.day*100+3;
				var top = Math.floor((time.start-480)/30)*21;
				var height =Math.floor((time.end-time.start)/30)*21 -2;

				bg.set({'styles':{'background':bgcolor}});
				lmodule.set({'styles':{'left':left,'top':top,'height':height}});
				lmodule.inject(wrap);
			}.bind(this));
		}
	};

	window.addEvent('domready',function() 
	{
		LectureList.initialize();
		Map.initialize();
		Timetable.initialize();
		RangeSearch.initialize();
	});
	</script>
{% endblock %}
{% block content %}
	<div id="left-side">
		<div style="margin-bottom:10px">
			<div id="dump"></div>
			<a id="test" >테스트</a>
			<label>학과&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:11px">(<a href="#">관심학과 설정</a>)</span></label>
			<select id="department" style="width:100%">
				<option value=".">전체보기</option>
				{% for item in departments %}
				<option value="{{ item.code }}">{{ item.name }}</option>
				{% endfor %}
			</select>
			<br />
			<label>과목구분</label>
			<select id="classification" style="width:100%">
				<option>전체보기</option>
				<option>기초필수</option>
				<option>기초선택</option>
				<option>전공필수</option>
				<option>전공선택</option>
				<option>교양필수</option>
				<option>교양필수(체육)</option>
				<option>교양선택</option>
				<option>자유선택</option>
				<option>공통필수</option>
				<option>인문사회선택</option>
				<option>선택(석/박사)</option>
				<option>개별연구</option>
				<option>졸업연구</option>
				<option>세미나</option>
				<option>논문세미나</option>
				<option>현장실습및연구</option>
			</select>
		</div>
		<div id="lecture_container">
			<div class="left" style="width:15%;padding:0;margin:0;">
				<div id="lecture_tabs"></div>
				<div class="clear"></div>
			</div>
			<div class="left" style="width:85%;padding:0;margin:0;">
				<div id="lecture_contents"></div>
				<div id="lecture_contents_footer"><div></div></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="center">
		<textarea id="timetable_init_json" class="none">
{{my_lectures|safe}}
		</textarea>
		<div id="center-top">
			<table cellspacing="0" cellpadding="0" border="0">
				<thead>
					<tr>
						<th>강의장소</th>
						<th>시험시간</th>
						<th class="end">기타</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td id="DS_classroom">공동실험실</td>
						<td id="DS_examtime">12:00~13:00</td>
						<td id="DS_remarks"class="end">영어강의</td>
					</tr>
				</tbody>
			</table>
			<table cellspacing="0" cellpadding="0" border="0">
				<thead>
					<tr>
						<th>과목코드</th>
						<th>분반</th>
						<th>과목명</th>
						<th>교수님</th>
						<th>강의시간</th>
						<th>실험시간</th>
						<th class="end">학점</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td id="DS_course_no">MS213</td>
						<td id="DS_class">A</td>
						<td id="DS_title">결정구조 및 회절</td>
						<td id="DS_prof">김민우</td>
						<td id="DS_lec_time">2</td>
						<td id="DS_lab_time">3</td>
						<td id="DS_credit" class="end">3</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="timetable_menu">
			<div class="left">
				<select class="left">
					<option>2008년 가을학기</option>
					<option>2008년 여름학기</option>
					<option>2009년 봄학기</option>
				</select>
				<div id="timetable_tabs">
					<div class="timetable_tab active"><a>시간표 1</a></div>
					<div class="timetable_tab"><a>시간표 2</a></div>
					<div class="timetable_tab"><a>시간표 3</a></div>
				</div>
			</div>
			<div class="right">
				<a id="clean_table" style="cursor:pointer">초기화</a> |
				<a href="#">인쇄</a>
			</div>
			&nbsp;
		</div>
		<div id="timetable">
		<div id="timetable-wrap">
			<div id="colheaders">
				<div class="chead"><span>월</span></div>
				<div class="chead"><span>화</span></div>
				<div class="chead"><span>수</span></div>
				<div class="chead"><span>목</span></div>
				<div class="chead"><span>금</span></div>
				<div id="col_hd_sel"></div>
			</div>
			<div id="tablebody">
				<div id="rowheaders">
					<div class="rhead"><span class="rheadtext">오전 8시</span></div>
					<div class="rhead"><span class="rheadtext">오전 9시</span></div>
					<div class="rhead"><span class="rheadtext">오전 10시</span></div>
					<div class="rhead"><span class="rheadtext">오전 11시</span></div>
					<div class="rhead"><span class="rheadtext">오전 12시</span></div>
					<div class="rhead"><span class="rheadtext">오후 1시</span></div>
					<div class="rhead"><span class="rheadtext">오후 2시</span></div>
					<div class="rhead"><span class="rheadtext">오후 3시</span></div>
					<div class="rhead"><span class="rheadtext">오후 4시</span></div>
					<div class="rhead"><span class="rheadtext">오후 5시</span></div>
					<div class="rhead"><span class="rheadtext">오후 6시</span></div>
					<div class="rhead"><span class="rheadtext">오후 7시</span></div>
					<div class="rhead"><span class="rheadtext">오후 8시</span></div>
					<div class="rhead"><span class="rheadtext">오후 9시</span></div>
					<div class="rhead"><span class="rheadtext">오후 10시</span></div>
					<div class="rhead"><span class="rheadtext">오후 11시</span></div>
					<div id="row_hd_sel"></div>
				</div>
				<div id="grid-wrap">
					<div id="grid">
						<div id="timetable_contents">
							<div id="timetable1" class="lmodules"></div>
							<div id="timetable2" class="lmodules"></div>
							<div id="timetable3" class="lmodules"></div>
						</div>
						<div id="overlap_modules"class="lmodules"></div><!-- 과목목록 마우스 룰오버시 -->
						<div id="cellselected"></div>
					</div><!--grid-->
				</div>
			</div><!--tablebody-->
		</div><!--timetable-wrap-->
		</div><!--timetable-->
		<div id="timetable-footer"><div></div></div>
	</div><!--center-->
	<div id="right-side">
		<div id="map">
			<h4>강의실 장소</h4>
			<div id="map-wrap">
				<div id="map-drag-container">
					<div id="dragmap">
						<div id="map-text"><span id="map-name">지도 데이터 준비중 입니다.</span><div id="map-arrow"></div></div>
					</div>
				</div>
			</div>
			<span>지도 출처 : 카이스트 홈페이지</span>
		</div>
		<br />
		<div id="info">
			<table cellspacing="0" cellpadding="0" border="0">
				<tr>
					<th style="width:50%">학점</th>
					<th>AU</th>
				</tr>
				<tr>
					<td style="text-align:left";>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span id="total_credit">0</span>&nbsp;
						<span id="add_credit" class="green"></span>
					</td>
					<td style="text-align:left"; class="end">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span id="total_au">0</span>&nbsp;
						<span id="add_au" class="blue"></span>
					</td>
				</tr>
			</table>
		</div>
		<div id="examtable">
			<table cellspacing="0" cellpadding="0" border="0">
				<tr>
					<th colspan="2">
				시험시간표
					</th>
				</tr>
				<tr>
					<td style="width:16px">월</td>
					<td class="end"><span id="examtime1">자연어 처리 14:00~15:00</span><span id="add_examtime1" class="blue"></span></td>
				</tr>
				<tr class="even">
					<td>화</td>
					<td class="end">
						<span id="examtime2"></span>
						<span id="add_examtime2" class="blue"></span>
					</td>
				</tr>
				<tr>
					<td>수</td>
					<td class="end">
						<span id="examtime3"></span>
						<span id="add_examtime3" class="blue"></span>
					</td>
				</tr>
				<tr class="even">
					<td>목</td>
					<td class="end">
						<span id="examtime4"></span>
						<span id="add_examtime4" class="blue"></span>
					</td>
				</tr>
				<tr>
					<td>금</td>
					<td class="end">
						<span id="examtime5"></span>
						<span id="add_examtime5" class="blue"></span>
					</td>
				</tr>
			</table>
		</div>
	</div><!--right-side-->
	<div class="clear" style="height:10px;"></div>
{% endblock %}
