{% extends 'layout.html' %}
{% block headers %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}board.css" />
{% endblock %}
{% block content %}
<h2>아라 Lecture 게시판</h2>
{% for article in article_list %}
<div class="article-container{% ifnotequal article.depth 1 %} article-child{% endifnotequal %} article-depth-{{article.depth}}">
	<h3>{{article.title}}</h3>
	<div class="article-info">
		<span class="nickname">nickname: {{article.author_nickname}}</span>
	</div>
	<div class="article-content">
		{{article.content|safe|linebreaksbr}}
	</div>
</div>
{% endfor %}
{% endblock %}
