@charset "utf-8";

#privacy-policy {
	width: 90%;
	height: 220px;
	padding: 4px;
	margin: 15px;
	font-size: 10pt;
	font-family: sans-serif;
	line-height: 1.5;
	border: 1px solid #ccc;
}

ul#myinfo {
	padding-left: 3em;
}

ul.actions {
	list-style: none;
}

#login-form-container {
	padding: 30px;
	width: 690px;
	margin: 0 auto;
	text-align: left;
}

#service-info {
	padding: 5px 10px;
}
#service-info li {
	margin-left: 2em;
}

#login-form {
	width: 300px;
	padding: 15px;
}

#login-form p {
	margin: 0.4em; 
}

#login-form table {
	margin: 4px;
}

#login-form th {
	vertical-align: top;
}

#login-form td {
	padding: 2px 6px;
}

#login-form input[type=submit] {
	padding: 2px 4px;
}

#login-form input[type=text],
#login-form input[type=password] {
	border: 1px solid #ccc;
	width: 12em;
	padding: 2px;
	font-size: 10pt;
}

#login-form input[type=text]:focus,
#login-form input[type=password]:focus {
	background: #ffffcc;
}

#id_favorite_departments {
	width: 50%;
	height: 12em;
}

.msg {
	border: 1px solid #fc6;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #fff4cc;
	padding: 1px 5px;
	margin: 5px 20px;
	color: #222;
}

.msg.error {
	border-color: #c00;
	background: #ffcccc;
	color: #600;
}
