@charset "utf-8";

#privacy-policy {
	width: 90%;
	height: 220px;
	padding: 4px;
	margin: 15px;
	font-size: 10pt;
	font-family: sans-serif;
	line-height: 1.5;
	border: 1px solid #ccc;
}

ul#myinfo {
	padding-left: 3em;
}

ul.actions {
	list-style: none;
}

#login-form p {
	margin: 0.4em; 
}

#login-form table {
	margin: 4px;
}

#login-form td {
	padding: 2px 6px;
}

#login-form input[type=submit] {
	padding: 2px 4px;
}

#login-form input[type=text],
#login-form input[type=password] {
	border: 1px solid #ccc;
	width: 12em;
	padding: 2px;
	font-size: 10pt;
}

#login-form input[type=text]:focus,
#login-form input[type=password]:focus {
	background: #ffffcc;
}

#id_favorite_departments {
	width: 50%;
	height: 12em;
}

/* TODO: 이것들을 default.css로 빼낼까? */
.actions li {
	margin: 0 5px;
	float: left;
}

.actions a {
	display: block;
	padding: 3px 5px;
	border: 1px solid #ccc;
	background: #eee;
	color: #333;
}

form .help {
	font-size: 0.9em;
	color: #555;
}

form label {
	display: inline-block;
	color: #333;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

form .errorlist {
}

form .errorlist li {
	margin: 0;
	padding: 0;
	color: red;
}

.msg {
	border: 1px solid #fc6;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #fff4cc;
	padding: 1px 5px;
	margin: 5px 20px;
	color: #222;
}

.msg.error {
	border-color: #c00;
	background: #ffcccc;
	color: #600;
}
