@charset "utf-8";

a#create-appointment, a#join-appointment {
	padding: 10px 15px;
	background: #f8f8f8;
	color: #333;
	border: 1px solid #d2d2d2;
	display: inline-block;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#id_summary {
	width: 30em;
}

.calendar {
	width: 220px;
}

.calendar-shortcuts {
	background: #69c;
	color: #ccc;
	float: right;
	width: 100%;
}

.calendar table {
	width: 100%;
	border-collapse: collapse;
}

.calendar caption {
	background: #69c;
	color: white;
	font-size: 12px;
}

.calendar th {
	text-align: center;
}

.calendar td a {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #ddd;
	color: #555;
}
.calendar table a:hover {
	background: #333;
	color: white;
	text-decoration: none;
}
.calendar table a.today {
	background: #ffec82;
}
.calendar table a.today:hover {
	background: #fae468;
	color: #555;
}

.calendar-previous,
.calendar-next {
	font-size: 12px;
	padding: 0 8px;
	background: #369;
	color: white;
}

.calendar-previous:hover,
.calendar-next:hover {
	background: #06223e;
	color: white;
	text-decoration: none;
}

.calendar-previous { float: left; }
.calendar-next { float: right; }

#selected_date { font-weight: bold; }

.timerange {
	margin-top: 5px;
}
.timerange-part {
	display: inline-block;
	width: 200px;
}

.timerange-slot {
	display: block;
	background: #ddd;
	color: #555;
	cursor: pointer;
	padding-left: 22px;
}

.timerange-slot:hover {
	background-color: #b8f4d6;
	color: #555;
	text-decoration: none;
}

.timerange-slot-selected {
	background: #ccc url(./images/icon_check.png) no-repeat left center !important;
	color: #444;
}
.timerange-slot-selected:hover {
	background-color: #e7bec8 !important;
	color: #444;
}

.msg.error {
	color: #c00;
}
