body, html { 
	overflow:hidden; 
	width:100%; 
	height:100%; 
	margin:0; 
	padding:0;
}

#gbar
{
	height:34px;
	background:#000;
}

#global-logo
{
	font-family:Arial, sans-serif;
	font-size:14px;
	color:#F3F3F3;
	float:left;
}


#global-info
{
	color:#DDD;
	float:right;
	padding:6px;
}

#global-info a
{
	color:#DDD;
}

.header
{
	height:55px;
	position:relative;
}

.header-bottom
{
	height:5px;
	background:#000;
}

.header .logo
{
	width:100%;
	height:100%;
	background:url('images/otl.png') 4px 13px no-repeat;
}


#navigation
{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	margin:0;
	padding:0;
	background:#EEEEEE url('images/corner_tl.gif') left top no-repeat;
}

#navigation .navigation-wrap
{
	margin:0pt;
	padding:10px 10px 0pt 5px;
	background:transparent url('images/corner_tr.gif') right top no-repeat;
	font-size:12px;
}

#navigation a
{
	display:block;
	text-decoration:none;
	padding:4px 12px 2px;
	margin-left:5px;
	background:transparent url('images/tab_bg.gif') top left repeat-x;
	border-top:1px solid #DDD;
	border-right:1px solid #DDD;
	border-left:1px solid #DDD;
}

#navigation a.selected,
#navigation a:hover
{
	text-decoration:none;
	color:#DDD;
	background:#253966;
	background:#292929;
}



#left-side 
{
	width:185px;
}


#calendar-wrap
{
    background:#C3D9FF url('images/corner_tl.gif') left top no-repeat;
}

#calendar
{
	padding-top:8px;
	padding-left:8px;
	padding-bottom:8px;
    background:transparent url('images/corner_bl.gif') left bottom no-repeat;
}

#message-bar
{
	height:20px;
}



#center-left
{
	width:8px;
    background:#C3D9FF url('images/corner_tl.gif') left top no-repeat;
}

#center-bottom
{
    background:#C3D9FF url('images/corner_bl.gif') left bottom no-repeat;
	height:8px;
}

#center-bottom div
{
	height:100%;
    background:transparent url('images/corner_br.gif') right bottom no-repeat;
}


#timetable-top
{
	height:64px;  /* colheadrs.height + day-schedule.height */
    background:#C3D9FF url('images/corner_tr.gif') top right no-repeat;
}

#colheaders
{
	height:22px;
	width:100%;
}

#colheaders .chead
{
	height:100%;
	width:14.2857%;
	float:left;
	line-height:22px;
	text-align:center;
	background:#88AACC;
}

#day-schedule
{
	height:42px;
	width:100%;
	background:#E8EEF7;
	border-top:1px solid #A2BBDD;
	border-left:1px solid #A2BBDD;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}

#timetable-wrap
{
	position:relative;
	margin:0;
	padding:0;
	border-top:1px solid #A2BBDD;
	border-left:1px solid #A2BBDD;
	border-bottom:1px solid #fff;
	overflow-x:hidden;
	overflow-y:scroll;
}

#timetable
{
	position:relative;
	width:100%;
	height:1008px;
}

#rowheaders
{
	position:absolute;
	left:0;
	top:0;
	width:60px;
	height:100%;
}

#rowheaders .rhead
{
	position:relative;
	width:100%;
	height:42px;
	background:#E8EEF7 url('images/timetable/dot.gif') bottom repeat-x;
}

#rowheaders .rhead span
{
	position:absolute;
	top:2px;
	right:2px;
	color#446688;
	font-size:11px;
}

#grid-wrap
{
	position:absolute;
	left:60px;
	top:0;
	width:100%; /* -60px */
	height:100%;
    background:#fff;
}

#grid
{
	position:relative;
	width:100%;
	height:100%;
}

#grid .block-day
{
	position:relative;
	float:left;
	width:14.2857%;
	height:100%;
	background:transparent url('images/cell_800.gif') repeat-y;
}

#grid .block-day .schedule
{

}

.side-box .top
{
	height:20px;
    background:#C3D9FF url('images/corner_tl.gif') top left no-repeat;
}
.side-box .top div
{
	height:100%;
    background:transparent url('images/corner_tr.gif') top right no-repeat;
}

.side-box .content
{
    background:#C3D9FF;
	padding-left:2px;
	padding-right:2px;
}

.side-box .content div
{
	background:#fff;
}
.side-box .bottom 
{
	height:20px;
    background:#C3D9FF url('images/corner_bl.gif') bottom left no-repeat;
}

.side-box .bottom div
{
	height:100%;
    background:transparent url('images/corner_br.gif') bottom right no-repeat;
}

