@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Trebuchet MS, Verdana, Malgun Gothic, Dotum, AppleGothic, sans-serif;
	font-size: 9pt;
	line-height: 1.0;
	background: white url(./images/bg_black.jpg) repeat-x left -50px;
	color: #eee;
	text-align: center;
}

input, textarea {
	font-size: 9pt;
	line-height: 1.2;
	padding: 2px;
}

input[type=submit] {
	padding: 4px;
}

#header {
	position: relative;
	border-bottom: 5px solid #333;
	height: 120px;
	width: 1000px;
	margin: 0 auto;
}

#header h1 {
	position: absolute;
	font-size: 14pt;
	left: 10px;
	top: 10px;
	color: white;
}
.logo-color2 { color: rgb(0,204,255); }
.logo-color3 { color: rgb(250,0,136); }

#userInfo {
	position: absolute;
	right: 10px;
	top: 12px;
	font-size: 9pt;
	padding: 3px;
}

#userInfo a {
	color: #ddd;
}

#wrap {
	margin: 0 auto;
	width: 1022px;
	background: url(./images/bg_top.png) no-repeat 0 43px;
}

#navigation {
	position: absolute;
	width: 100%;
	height: 43px;
	background: #eee;
	left: 0;
	bottom: 0;
}

#navigation ul {
	position: absolute;
	right: 10px;
	bottom: 0;
	list-style: none;
}

#navigation li {
	float: left;
	margin: 0 3px;
}

#navigation a {
	display: block;
	padding: 10px 12px 8px 12px;
	background: #e5e5e5 url(./images/tab_bg.gif) repeat-x left top;
	color: #333;
	font-size: 9pt;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-decoration: none;
}

#navigation a:hover {
	background: #555;
	color: #fc9;
}

#navigation li.selected a {
	background: #333;
	color: white;
}

#content {
	padding: 15px 25px;
	color: #222;
	text-align: left;
}

.pages {
	margin: 8px;
	text-align: center;
}

.pages a {
	text-decoration: none;
	color: #555;
	margin: 0 3px;
}
.pages a.selected {
	font-weight: bold;
	color: red;
}
.pages a.prev-page {
	padding-left: 9px;
	background: url(./images/icon_page_prev.png) no-repeat left center;
}
.pages a.next-page {
	padding-right: 9px;
	background: url(./images/icon_page_next.png) no-repeat right center;
}

#footer {
	padding: 10px;
	color: #999;
}

h2 {
	margin: 0.3em 0.3em 1em 0.3em;
}

h3 {
	margin: 0.4em;
}

p {
	margin: 0.4em;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid #ccc;
}

form td, th {
	border: 0 none;
	padding: 3px;
}

