table.dictionary-main
{
	float:left;
	position:relative;
	width:200px;
	margin:10px;
}

table.user-info
{
	float:left;
	position:relative;
	width:320px;
	margin:10px;
}


table caption
{
	font-weight:bold;
}

table.mcomment
{
	width:760px;
	margin:10px;
}

table.mcomment caption
{
	font-weight:bold;
	font-size:20px;
	text-align:left;
	margin:10px;
}

#left-side
{
	float:left;
	width:200px;
}

#lecturelist-range h4
{
	margin: 5px 0;
	padding: 0;
}

#lecturelist-filter label
{
	font-weight: bold;
}

#lecturelist p
{
	margin: 2px;
  padding: 0;
}

#lecturelist-notice
{
  font-size: 8pt;
  line-height: 1.4;
  margin-top: 5px;
}
 
#lecture_tabs .lecture_tab
{
	margin-bottom:3px;
	cursor:pointer;
	background:#E1ECFE url('images/corner_tl.gif') left top no-repeat;
}

#lecture_tabs .lecture_tab div
{
	padding:2px 7px;
	background:transparent url('images/corner_bl.gif') left bottom no-repeat;
}
 
#lecture_tabs .active
{
	background-color:#C3D9FF;
}
 
#lecture_contents
{
	clear:both;
	background:#C3D9FF url('images/corner_tr.gif') right top no-repeat;
	padding:5px;
}
 
#lecture_contents_footer
{
	background:#C3D9FF url('images/corner_bl.gif') left bottom no-repeat;
}
 
#lecture_contents_footer div
{
	height:5px;
	background:transparent url('images/corner_br.gif') right bottom no-repeat;
}
 
#lecture_contents h4
{
	font-size: 9pt;
}
 
#message-wrap
{
	background:#C3D9FF url('images/corner_tl.gif') left top no-repeat;
}
 
#message-wrap div.bl
{
	background:transparent url('images/corner_bl.gif') bottom left no-repeat;
}
 
#message-wrap div.br
{
	background:transparent url('images/corner_br.gif') bottom right no-repeat;
}

#message 
{
	padding:3px 20px 1px;
	background:transparent url('images/corner_tr.gif') right top no-repeat;
}

#indicator
{
	width:16px;
  height:16px;
  margin-right:10px;
}

#indicator_semester
{
  width:16px;
  height:16px;
	margin-right:10px;
}

.lecture_content a
{
  text-decoration:none;
  display:block;
  margin-bottom:2px;
  padding:1px 5px;
  cursor:pointer;
  background:#fff;
}

.lecture_content a:hover
{
  color:#333;
  background:#E1ECFE;
}

.lecture_content a.clicked
{
	background:#D1EFD5;
}

.dictionary-title
{
	background:#C3DAFB;
	height:30px;
  font-size:15px;
}

#center
{
  float:left;
  width:570px;
  margin-left: 18px;
  margin-top : 36px;
}

#recommend-title
{
	line-height:30px;
	margin-left:18px;
}

#recent-comments-title
{
	line-height:30px;
	margin-left:18px;
}

#recommend-area-professors
{
  height:202px;
  margin-top : 18px;
  background:#FF0000;
}

#recent-comments
{
  margin-top : 18px;
}

.timeline_comment 
{
	width:534px;
	height:126px;
  margin-top:18px;
	margin-bottom:18px;
	margin-left:18px;
	margin-right:18px;
}

.content_prof_photo
{
  width:67px;
	height:79px;
}

.content_prof_name
{
  font-size:10px;
  text-align:center;
}

.timeline_comment_left
{
  float:left;
  width:67px;
	height:108px;
  padding:0px;
}

.timeline_comment_right
{
  float:right;
	width:449px;
	height:108px;
  margin-left:18px;
}

.timeline_comment_right_top
{
  width:449px;
	height:18px;
	font-size:11px;
}

.timeline_comment_right_top_title
{
	height:18px;
  float:left;
}

.timeline_comment_right_top_spec
{
	height:18px;
  float:right;
}

.a_spec
{
  margin-left:20px;
}

.timeline_comment_right_mid
{
	width:449px;
  height:36px;
	margin-top:18px;
	margin-bottom:18px;
}

.timeline_comment_right_mid_comment 
{
  height:36px;
}

.timeline_comment_right_bot
{
	width:449px;
  height:18px;
}

.timeline_comment_right_bot_writer
{
  float:right;
}

.timeline_comment_right_bot_date
{
  float:right;
  margin-left:11px;
}

#right-side
{
  float:left;
  width: 191px;
  background:#00FF00;
  margin-left:18px;
	margin-top:36px;
}


