#main-side
{
	float:left;
	width:770px;
}
#left-side
{
    float:left;
    width:200px;
    margin:10px;
}
#lecturelist-range h4
{
    margin: 5px 0;
    padding: 0;
}
#lecturelist-filter label
{
    font-weight: bold;
}
#lecturelist p
{
    margin: 2px;
    padding: 0;
}
#lecturelist-notice
{
    font-size: 8pt;
    line-height: 1.4;
    margin-top: 5px;
}
#lecture_tabs .lecture_tab
{
    margin-bottom:3px;
    cursor:pointer;
    background:#E1ECFE url('images/corner_tl.gif') left top no-repeat;
}
#lecture_tabs .lecture_tab div
{
    padding:2px 7px;
    background:transparent url('images/corner_bl.gif') left bottom no-repeat;
}
#lecture_tabs .active
{
    background-color:#C3D9FF;
}
#lecture_contents
{
    clear:both;
    background:#C3D9FF url('images/corner_tr.gif') right top no-repeat;
    padding:5px;
}
#lecture_contents_footer
{
    background:#C3D9FF url('images/corner_bl.gif') left bottom no-repeat;
}
#lecture_contents_footer div
{
    height:5px;
    background:transparent url('images/corner_br.gif') right bottom no-repeat;
}
#lecture_contents h4 {
        font-size: 9pt;
}
#message-wrap
{
    background:#C3D9FF url('images/corner_tl.gif') left top no-repeat;
}
#message-wrap div.bl
{
    background:transparent url('images/corner_bl.gif') bottom left no-repeat;
}
#message-wrap div.br
{
    background:transparent url('images/corner_br.gif') bottom right no-repeat;
}
#message 
{
    padding:3px 20px 1px;
    background:transparent url('images/corner_tr.gif') right top no-repeat;
}
#indicator
{
        width:16px;
        height:16px;
        margin-right:10px;
}
#indicator_semester
{
        width:16px;
        height:16px;
        margin-right:10px;
}
.lecture_content a
{
    text-decoration:none;
    display:block;
    margin-bottom:2px;
    padding:1px 5px;
    cursor:pointer;
    background:#fff;
}
.lecture_content a:hover
{
    color:#333;
    background:#E1ECFE;
}
.lecture_content a.clicked
{
    background:#D1EFD5;
}
.dictionary-title
{
    background:#C3D9FF;
    font-size:12px;
    font-weight:bold;
    font-family:'돋움';
}
.dictionary-title div.tl
{
    background:transparent url('images/corner_tl.gif') top left no-repeat;
}
.dictionary-title div.tr
{
    background:transparent url('images/corner_tr.gif') top right no-repeat;
}
.dictionary-title div.bl
{
    background:transparent url('images/corner_bl.gif') bottom left no-repeat;
}
.dictionary-title div.br
{
    background:transparent url('images/corner_br.gif') bottom right no-repeat;
    padding: 3px 12px 1px;
}
#center
{
    float:left;
    width:548px;
    margin-left: 18px;
    margin-top : 36px;
}
#center p 
{
    margin:0px;
}
#recommend-area-professors
{
    height:202px;
    margin-top : 15px;
    background:#ECF1F9;
}
#recent-comments
{
    margin-top : 19px;
}
#professor
{
	margin-left : 15px;
	margin-top : 30px;
	width : 770px;
}
#professor-info-title
{
    background:#C3D9FF;
	margin-left:5px;
	text-align:center;
	font-weight:bold;
	color:white;
	width:70px;
}
#professor-info-back
{
    background:#C3D9FF;
	padding : 5px;
	margin-bottom:5px;
    border-radius:3px;
}
#professor-info
{
	height:145px;
	background:white;
	padding:5px
}
#professor-info-top
{
	width:750px;
	height:130px;
}
#professor-info-bottom
{
	width:750px;
	float:right;
	font-size:11px;
	line-height:15px;
	text-align:right;
	height:15px;
}
#professor-info-left
{
	float:left;
	padding:15px;
	padding-bottom:0px;
	width:92px;
	height:115px;
}
#professor-info-right
{
	float:left;
	margin-left:5px;
	padding-top:15px;
	width:623px;
	height:115px;
}
.professor_info_line
{
	float:left;
	height:20px;
	padding-top:4px;
	padding-bottom:4px;
	width:623px;
}
#professor-info-name-title
{
	float:left;
	text-align:left;
	width:50px;
	height:20px;
	line-height:20px;
	font-weight:bold;
    font-family:'돋움';
	font-size:11px;
}
#professor-info-name
{
	float:left;	
	line-height:20px;
	text-align:left;
	width:50px;
	height:20px;
    font-family:'돋움';
	font-size:11px;
}
#professor-info-major-title
{
	float:left;
	text-align:left;
	width:50px;
	height:20px;
	line-height:20px;
	font-weight:bold;
    font-family:'돋움';
	font-size:11px;
}
#professor-info-major
{
	float:left;	
	line-height:20px;
	text-align:left;
	width:573px;
	height:20px;
    font-family:'돋움';
	font-size:11px;
}
#professor-info-major-change
{
	height:18px;
	width:571px;
	max-height:18px;
	max-width:571px;
	line-height:18px;
}
#professor-info-email-title
{
	float:left;
	text-align:left;
	width:55px;
	height:20px;
	line-height:20px;
	font-weight:bold;
    font-family:'돋움';
	font-size:11px;
}
#professor-info-email
{
	float:left;	
	line-height:20px;
	text-align:left;
	width:568px;
	height:20px;
    font-family:'돋움';
	font-size:11px;
}
#professor-info-email-change
{
	height:18px;
	width:566px;
	max-height:18px;
	max-width:566px;
	line-height:18px;
}
#professor-info-homepage-title
{
	float:left;
	text-align:left;
	width:80px;
	height:20px;
	line-height:20px;
	font-weight:bold;
    font-family:'돋움';
	font-size:11px;
}
#professor-info-homepage
{
	float:left;	
	line-height:20px;
	text-align:left;
	width:543px;
	height:20px;
    font-family:'돋움';
	font-size:11px;
}
#professor-info-homepage-change
{
	height:18px;
	width:541px;
	max-height:18px;
	max-width:541px;
	line-height:18px;
}
#Notifier
{
	height:23px;
	margin-top:20px;
}
#educated-course
{
    margin-top:20px;
}
#course-view
{
	padding-top:15px;
	padding-left:25px;
}
.course
{
    float:left;
    width:248px;
    padding-bottom:8px;
}
#prof-recent-comments
{
	margin-top : 20px;
}

.timeline_comment 
{
    margin-top : 15px;
    height:110px;
}
.professor_comment
{
	margin-top : 15px;
	margin-bottom : 15px;
	height:65px;
	padding-left:15px;
    float:left;
    width :750px; 
}
.professor_comment_top
{
    float:left;
    width:750px;
    height:20px;
}
.professor_comment_top_title
{
    font-size:11px;
    float:left;
}

.professor_comment_top_spec
{
    float:right;
    margin-right:15px;
}
.professor_comment_mid
{
	float:left;
    height:30px;
    width:750px;
}
.professor_comment_mid_comment 
{
    height:30px;
    float:left;
}
.professor_content_comment
{
    height:30px;
    line-height:30px;
}
.professor_comment_bot
{
    height:15px;
    margin-right:15px;
}
.professor_comment_bot_writer
{
    float:right;
}
.professor_comment_bot_date
{
    float:right;
    margin-left:15px;
}
.content_prof_photo
{
    width:66px;
    margin:0px;
}
.content_prof_photo img
{
    margin: 0px;
}
.content_prof_name
{
    font-size:10px;
    text-align:center;
}
.content_subject
{
    font-weight: bold;
	font-family: '돋움';
}

.timeline_comment_left
{
    float:left;
    margin-left:19px;
    width:66px;
    padding:0px;
}

.timeline_comment_right
{
    float:left;
    margin-left: 19px;
    width :444px; 
}

.timeline_comment_right_top
{
    float:left;
    width: 444px;
}

.timeline_comment_right_top_title
{
    font-size:11px;
    float:left;
}

.timeline_comment_right_top_spec
{
    float:right;
    margin-right:15px;
}

.a_spec
{
    margin-left: 20px;
    float:left;
}

.timeline_comment_right_mid
{
    height:95px;
}
.timeline_comment_right_mid_comment 
{
    height:50px;
    margin-top:10px;
    margin-right:15px;
    float:left;
}
.content_comment
{
    height:45px;
    margin-top : 10px;
    margin-bottom:10px;
}
.timeline_comment_right_bot
{
    height:15px;
    margin-right:15px;
}
.timeline_comment_right_bot_writer
{
    float:right;
}
.timeline_comment_right_bot_date
{
    float:right;
    margin-left:15px;
}
.comment_line 
{
    width:548px;
    margin-top:15px;
    margin-bottom:15px;
    color:#cecece;
    background-color:#cecece;
    height:1px;
}
.professor_comment_line 
{
    width:770px;
    margin-top:15px;
    color:#cecece;
    background-color:#cecece;
    height:1px;
}
#right-side
{
    float:left;
    width: 191px;
    margin-top:36px;
    margin-left:21px;
}
.taken_lecture_title
{
    margin-left:18px;
    height:20px;
}
.taken_lecture_title td
{
    text-align:left;
    background-color:#DFE0E4;
}
.taken_lecture_list
{
    margin-left:10px;
    margin-top:12px;
    margin-bottom:12px;
}
.taken_lecture_list td
{
    text-align:left;
}
.taken_lecture_list a
{
    margin-left:10px;
}
#favorite_view
{
    margin-top:30px;
    background-color:#C0D9FD;
    padding-bottom:5px;
}
#favorite_view_title
{
    margin-left:15px;
    line-height:25px;
}
#favorite_view_contents
{
    padding-top:10px;
    background-color:#FFFFFF;
    margin-left:5px;
    margin-right:5px;
    padding-left:10px;
    padding-bottom:10px;
}
