@charset "utf-8";

h3 {
	margin-top: 15px;
}
#publicFavorites {
	position: relative;
	padding-top: 20px;
}

#myFavorites ul,
#publicFavorites ul {
	list-style: none;
	position: relative;
}

#myFavorites li,
#publicFavorites li {
	position: relative;
	border-bottom: 1px solid #ccc;
	padding: 5px 8px;
}

#myFavorites li:first-child,
#publicFavorites li:first-child {
	border-top: 1px solid #ccc;
}

#myFavorites li:hover,
#publicFavorites li:hover {
	background-color: #f2f2f2;
}

#myFavorites h4,
#publicFavorites h4 {
	margin-bottom: 4px;
	font-size: 10pt;
}

#publicFavorites .submitter {
	display: block;
	position: absolute;
	top: 4px;
	right: 8px;
}

#add-public-favorite {
	position: absolute;
	top: 2px;
	right: 5px;
}

#add-public-favorite a {
	color: #56c;
}

a.control-delete, a.control-add {
	display: block;
	position: absolute;
	top: 20px;
	right: 8px;
}
#myFavorites a.control-delete {
	color: #c00;
	padding: 2px 2px 2px 20px;
	background: url(./images/icon_delete.png) no-repeat left center;
}
a.control-add {
	color: #0a0;
	padding: 2px 2px 2px 20px;
	background: url(./images/icon_add.png) no-repeat left center;
}

#search-form {
	margin: 10px;
}
#search-query {
	width: 500px;
	margin: 0 8px;
}
#search-form input[type=submit] {
	padding: 2px 4px;
}
.favorite-link-img, .search-link-img{
	display:none;
}
.favorite-link a.hover, .search-link a.hover{
	text-decoration:none;
}

#create-form-code {
	width: 4em;
}
#create-form-name {
	width: 12em;
}
#create-form-url {
	width: 20em;
}

.linkthumb{
	z-index:1000;
	left:0;
	top:0;
	position:absolute;
	display:block;
	background:#F3F3F3 url("/media/images/loading_favorite_thumbnail.gif") no-repeat center center;
	border:1px solid #bbb;
	padding:2px;
	height:90px;
	width:120px;
	text-align:center;
}
