@charset "utf-8";

h3 {
	margin-top: 15px;
}
#publicGroups {
	position: relative;
}

#myGroups ul,
#publicGroups ul {
	list-style: none;
	position: relative;
}

#myGroups li,
#publicGroups li {
	position: relative;
	border-bottom: 1px solid #ccc;
	padding: 5px 8px;
}

#myGroups li:first-child,
#publicGroups li:first-child {
	border-top: 1px solid #ccc;
}

#myGroups li:hover,
#publicGroups li:hover {
	background-color: #f2f2f2;
}

#myGroups h4,
#publicGroups h4 {
	margin-bottom: 4px;
	font-size: 10pt;
}

#publicGroups .submitter {
	display: block;
	position: absolute;
	top: 4px;
	right: 8px;
}

#create-group {
	position: absolute;
	top: 2px;
	right: 5px;
}
#create-group a {
	color: #56c;
}

a.control-withdraw, a.control-join {
	display: block;
	position: absolute;
	top: 20px;
	right: 8px;
}
#myGroups a.control-withdraw {
	color: #c00;
	padding: 2px 2px 2px 20px;
	background: url(./images/icon_delete.png) no-repeat left center;
}
#publicGroups a.control-join {
	color: #0a0;
	padding: 2px 2px 2px 20px;
	background: url(./images/icon_add.png) no-repeat left center;
}


#write-form {
	margin: 10px;
}
#write-article {
	width: 500px;
	margin: 0 8px;
}
#write-form input[type=submit] {
	padding: 2px 4px;
}

.article-list
{
	border-collapse: collapse;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.article-list th, .article-list td
{
	padding: 1px 5px;
}

.article-list th
{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	background: #f2f2f2;
}

.article-list td
{
}

.article-list tr.even td
{
	background: #f8f8f8;
}

.article-list .author { width: 10%; }
.article-list .tag { width: 70%; }

.article-container
{
}

.article-container h3
{
	margin: 5px 5px 0 5px;
	padding: 0;
}

.article-info
{
	font-weight: bold;
	margin: 0 8px;
}

.article-content
{
	background: #f4f4f4;
	margin: 8px;
	padding: 4px 6px;
}

.search-list
{
	border-collapse: collapse;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.search-list th, .search-list td
{
	padding: 1px 5px;
}

.search-list th
{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	background: #f2f2f2;
}

.search-list td
{
}

.search-list tr.even td
{
	background: #f8f8f8;
}

.search-list .author { width: 10%; }
.search-list .tag { width: 70%; }
