@charset "utf-8";

body
{
	background:#fff url('images/bg_black.jpg') repeat-x 0 -56px;
    color:#555;
}

#gbar, #header, #container, #footer
{
	text-align:center;
}

#gbar-content, #header-content, #content-wrap, #footer-content
{
	width:1000px;
	margin:0 auto;
	text-align:left;
}


#gbar
{
	color:#eee;
	height:20px;
}

#gbar-content
{
	height: 20px;
}


#global-logo
{
	font-family:Arial, sans-serif;
	font-size:14px;
	color:#F3F3F3;
	float:left;
}


#global-info
{
	float:right;
	padding:8px;
}

#global-info a
{
	color:#DDD;
}

#header
{
	background: url('images/bg_top.png') top center no-repeat;
}
#header-content
{
	position: relative;
	border-bottom:5px solid #292929;
	height: 70px;
}

#header-content h2
{
	position: absolute;
	left: 10px;
	top: 27px;
	color:#000;
	margin: 0;
}

#header-content h2 span.logo
{
	display:inline-block;
	height:58px;
	width:103px;
	background:url('images/otl.png') left top no-repeat;
}

#content
{
	padding:0;
}

#footer
{
	border-top:1px solid #E7E7E7;
	background-color:#F3F3F3;
	background-color:#000;
	text-align:center;
	color:#eee;

	padding-top:20px;
	height:100px;
}

#copyright
{
	text-align:center;
}


.ft-box
{
	float:left;
	width:300px;
	margin-right:10px;
}


#navigation
{
	margin:0;
	padding:0;
	position: absolute;
	left: 140px;
	bottom: 0;
	width: 850px;
	background:#EEEEEE url('images/corner_tl.gif') left top no-repeat;
}

#navigation .navigation-wrap
{
	margin:0pt;
	padding:10px 10px 0pt 5px;
	background:transparent url('images/corner_tr.gif') right top no-repeat;
	font-size:12px;
}

#navigation a
{
	display:block;
	text-decoration:none;
	padding:4px 12px 2px;
	margin-left:5px;
	background:transparent url('images/tab_bg.gif') top left repeat-x;
	border-top:1px solid #DDD;
	border-right:1px solid #DDD;
	border-left:1px solid #DDD;
}


#navigation a.selected,
#navigation a:hover
{
	text-decoration:none;
	color:#DDD;
	background:#253966;
	background:#292929;
}


.clear
{
	clear:both;
}

/* vim: set ts=4 sts=4 sw=4 noet: */
