@charset "utf-8";

body
{
	background:#fff url('images/bg_black.jpg') repeat-x 0 -56px;
    color:#555;
}

#gbar, #header, #container, #footer
{
	text-align:center;
}

#gbar-content, #header-content, #content-wrap, #footer-content
{
	width:1000px;
	margin:0 auto;
	text-align:left;
}


#gbar
{
	color:#eee;
	height:33px;
}

#gbar-content
{
	height: 33px;
}


#global-logo
{
	font-family:Arial, sans-serif;
	font-size:14px;
	color:#F3F3F3;
	float:left;
}


#global-info
{
	float:right;
	padding:8px;
}

#global-info a
{
	color:#DDD;
}

#header
{
	background: url('images/bg_top.png') center top no-repeat;
}
#header-content
{
	position: relative;
	border-bottom:5px solid #292929;
	height: 57px;
}

#header-content h2
{
	position: absolute;
	left: 10px;
	top: 13px;
	color:#000;
	margin: 0;
}

#header-content h2 span.logo
{
	display:inline-block;
	height:58px;
	width:103px;
	background:url('images/otl.jpg') left 2px no-repeat;
}

#content
{
	padding:0;
}

#footer
{
	border-top:1px solid #E7E7E7;
	background-color:#F3F3F3;
	background-color:#000;
	text-align:center;
	color:#eee;

	margin-top:40px;
	padding-top:10px;
	height:100px;
}

#copyright
{
	text-align:center;
}


.ft-box
{
	float:left;
	width:300px;
	margin-right:10px;
}


#navigation
{
	margin:0;
	padding:0;
	position: absolute;
	left: 140px;
	bottom: 0;
	width: 850px;
	background:#EEEEEE url('images/corner_tl.gif') left top no-repeat;
}

#navigation .navigation-wrap
{
	margin:0pt;
	padding:10px 10px 0pt 5px;
	background:transparent url('images/corner_tr.gif') right top no-repeat;
	font-size:12px;
}

#navigation a
{
	display:block;
	text-decoration:none;
	padding:4px 12px 2px;
	margin-left:5px;
	background:transparent url('images/tab_bg.gif') top left repeat-x;
	border-top:1px solid #DDD;
	border-right:1px solid #DDD;
	border-left:1px solid #DDD;
}


#navigation a.selected,
#navigation a:hover
{
	text-decoration:none;
	color:#DDD;
	background:#253966;
	background:#292929;
}

a#myfavorites
{
	display: block;
	position: absolute;
	bottom: 0;
	right: 130px;
	float: none;
	border: 0 none;
	background: transparent url('./images/icon_favorite_star.png') no-repeat 2px center;
	width: 80px;
	height: 15px;
	line-height: 1.0;
	padding: 6px 3px 3px 22px;
	margin-right: 10px;
	text-align: left;
}

a#myfavorites:hover
{
	background: transparent;
	color: black;
}

#myfavorites-menu
{
	position: absolute;
	background: transparent;
	visibility: hidden;
	width: 140px;
	z-index: 1000;
	margin: 0;
	padding: 0;
}

#myfavorites-menu p
{
	width: 115px;
	height: 15px;
	background: transparent url('./images/bg_myfavorites.gif') no-repeat 0 0;
	margin: 0;
	line-height: 1.0;
	padding: 6px 3px 2px 22px;
	text-align: left;
	cursor: pointer;
}

#myfavorites-menu ul
{
	list-style: none;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	margin: 0;
	padding: 0;
	box-shadow: 2px 2px 3px #999;
	-moz-box-shadow: 2px 2px 3px #999;
	-webkit-box-shadow: 2px 2px 3px #999;
}

#myfavorites-menu li
{
	float: none;
	margin: 0;
	padding: 0;
	background: white;
}

#myfavorites-menu li span
{
	padding-left: 2px;
}

#myfavorites-menu a
{
	display: block;
	border: 0 none;
	margin: 0;
	padding: 2px 4px;
	line-height: 1.4;
	background: white;
	text-align: left;
	cursor: pointer;
}

#myfavorites-menu a:hover
{
	background: #ffc;
	color: black;
}

#feedbacks
{
	text-align:center;
	margin-top: 18px;
	color: #333;
}

#feedbacks a
{
	color: #666;
}

#copyright
{
	color: #555;
}

.dictionary_part
{
	margin: 20px;
}
.dictionary_part span
{
	font-size: 12pt;
	font-weight: bold;
}

.dictionary_comment
{
	margin: 10px;
	
}

.dictionary_comment_content
{
	font-size: 10pt;
	font-color: black;
	margin: 10px;
}

.dictionary_comment_eval
{
	font-size: 8pt;
}

.dictionary_comment_eval span
{
	font-size: 10pt;
	font-color: #eee;
}

.clear
{
	clear:both;
}

/* vim: set ts=4 sts=4 sw=4 noet: */
