<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>OTL - {{title}}</title>
	<link rel="stylesheet" type="text/css" href="/media/common.css" />
{% block headers %}{% endblock %}
</head>
<body>
<div id="wrap">
	<div id="header">
		<h1><span class="logo-color1">Online</span> <span class="logo-color2">Timeplanner</span> <span style="font-size:70%">with</span> <span class="logo-color3">Lectures</span></h1>
		<div id="userInfo">
			{% if request.user.is_authenticated %}
			{{ request.user }} | <a href="/accounts/myinfo">내 계정</a> | <a href="/logout/">로그아웃</a>
			{% else %}
			<a href="/login/">로그인</a>
			{% endif %}
		</div>
		<div id="navigation">
			<ul>
				<li{% ifequal section 'home' %} class="selected"{% endifequal %}><a href="/">Home</a></li>
				<li{% ifequal section 'timetable' %} class="selected"{% endifequal %}><a href="/timetable/">모의 시간표</a></li>
				<li{% ifequal section 'calendar' %} class="selected"{% endifequal %}><a href="/calendar/">일정 관리</a></li>
				<li{% ifequal section 'groups' %} class="selected"{% endifequal %}><a href="/groups/">조모임</a></li>
				<li{% ifequal section 'favorites' %} class="selected"{% endifequal %}><a href="/favorites/">과목 즐겨찾기</a></li>
				<li{% ifequal section 'board' %} class="selected"{% endifequal %}><a href="/board/lecture/">아라 Lecture 게시판</a></li>
			</ul>
		</div>
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
		<p id="copyright">Copyright &copy;2009, OTL Team</p>
	</div>
</div>
</body>
</html>
