{% extends 'layout.html' %}
{% block headers %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}help.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}slideshow.css" />
<script type="text/javascript" src="{{MEDIA_URL}}js/slideshow/slideshow.js"></script>
<script type="text/javascript">
//<![CDATA[
window.addEvent('domready', function() {
	var slideshow_data = {
		'meeting-whiteboard1.jpg': {caption: '가장 처음 아이디어 회의 때 화이트보드 의논 내용'},
		'meeting-sparcsroom.jpg': {caption: '조모임 보드 회의 때... (사실은 설정샷?)'},
		'meeting-sparcsroom2.jpg': {caption: '회의 장면. 서로 간의 생각 차이를 좁히기 위한 무한 토론의 시간.'},
		'joongi-timeline.png': {caption: '새벽 6시까지 달린 commit log...'},
		'stay-all-night.jpg': {caption: '...그리고 보는 교양분관 뒷편의 일출. orz'},
		'dualmonitor.jpg': {caption: '개발하고 있는 모니터 화면'},
		'two-guys.jpg': {caption: '스팍스 회장님께 지적(?)당하는 모습 -_-'},
		'serverroom.jpg': {caption: '서버실과 우리의 바퀴 짱'}
	};
	var slideshow = new Slideshow('photoflow', slideshow_data, {
		controller:false, captions:true, thumbnails:false,
		width:400, height:300,
		duration:1800,
		hu:'{{MEDIA_URL}}images/about/',
		loader:{animate:['{{MEDIA_URL}}images/slideshow/loader-#.png', 12]}
	});
});
//]]>
</script>
{% endblock %}
{% block content %}
	<a name="help_top"></a><h2>도움말</h2>
	<ul>
		<a href="#help1"><li>과목 추가하기</li></a>
		<a href="#help2"><li>과목 삭제하기</li></a>
		<a href="#help3"><li>원하는 과목 찾기</li></a>
		<ul type="circle">
			<a href="#help3-1"><li>학과별로 찾기</li></a>
			<a href="#help3-2"><li>과목구분으로 찾기</li></a>
			<a href="#help3-3"><li>원하는 시간대로 찾기</li></a>
			<a href="#help3-4"><li>과목 이름으로 찾기</li></a>
		</ul>
		<a href="#help4"><li>시간표 여러 개 사용하기</li></a>
		<a href="#help5"><li>시간표 초기화/인쇄하기</li></a>
		<a href="#help6"><li>강의실 위치 확인하기</li></a>
		<a href="#help7"><li>과거 시간표 조회</li></a>
		<a href="#help8"><li>실라버스 보기</li></a>
		<a href="#help9"><li>경쟁률 확인하기</li></a>
	</ul>
	<div style="margin-right:20px; margin-left:20px">
		<a name="help1"></a>
		<h3>과목 추가하기 <a href="#help_top">^</a></h3>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/addcourse.png" alt="PHOTO" width="800" /><br>
		1. 왼쪽의 과목 리스트에서 추가하고 싶은 과목을 클릭합니다.<br>
		2. "추가되었습니다."라는 메시지와 함께 시간표에 해당 과목이 추가됩니다.<br>
	</div><br>
	<div style="margin-right:20px; margin-left:20px">
		<a name="help2"></a>
		<h3>과목 삭제하기 <a href="#help_top">^</a></h3>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/deletecourse1.png" alt="PHOTO" width="800" /><br>
		1. 중앙의 시간표에서 삭제하고 싶은 과목을 클릭합니다.<br>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/deletecourse2.png" alt="PHOTO"/><br>
		2. 팝업 창에서 확인 버튼을 클릭하면 해당 과목이 삭제됩니다.<br>
	</div><br>
	<div style="margin-right:20px; margin-left:20px">
		<a name="help3"></a>
		<h3>원하는 과목 찾기 <a href="#help_top">^</a></h3>
		<a name="help3-1"></a>
		<h4>학과별로 찾기</h4>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/findcourse1.png" alt="PHOTO" width="800" /><br>
		왼쪽 위에 있는 학과 드롭다운 메뉴를 클릭하여 원하는 학과를 선택합니다.<br>
		<a name="help3-2"></a>
		<h4>과목구분으로 찾기</h4>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/findcourse2.png" alt="PHOTO" width="800" /><br>
		왼쪽 위에 있는 과목구분 드롭다운 메뉴를 클릭하여 원하는 학과를 선택합니다.<br>
		<a name="help3-3"></a>
		<h4>원하는 시간대로 찾기</h4>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/findcourse3.png" alt="PHOTO" width="800" /><br>
		중앙의 시간표에서 원하는 시간대를 드래그하여 선택합니다.<br>
		<a name="help3-4"></a>
		<h4>과목 이름으로 찾기</h4>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/findcourse4.png" alt="PHOTO" width="800" /><br>
		왼쪽 위에 있는 키워드 입력상자에 원하는 키워드를 입력한뒤 엔터키를 누르거나 적용 버튼을 클릭합니다.<br>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/findcourse5.png" alt="PHOTO" width="800" /><br>
		카테고리 내 검색에 체크하고 학과와 과목구분을 선택하면 해당 카테고리 내에서 검색할 수 있습니다.<br>
	</div><br>
	<div style="margin-right:20px; margin-left:20px">
		<a name="help4"></a>
		<h3>시간표 여러 개 사용하기 <a href="#help_top">^</a></h3>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/manytables.png" alt="PHOTO" width="800" /><br>
		시간표 위쪽에 있는 탭을 클릭하여 여러 개의 시간표를 사용할 수 있습니다.<br>
	</div><br>
	<div style="margin-right:20px; margin-left:20px">
		<a name="help5"></a>
		<h3>시간표 초기화/인쇄하기 <a href="#help_top">^</a></h3>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/clearnprint.png" alt="PHOTO" width="800" /><br>
		시간표 오른쪽 위에 있는 텍스트를 클릭하여 시간표를 초기화하거나 인쇄용 파일을 얻을 수 있습니다.<br>
	</div><br>
	<div style="margin-right:20px; margin-left:20px">
		<a name="help6"></a>
		<h3>강의실 위치 확인하기 <a href="#help_top">^</a></h3>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/checklocation1.png" alt="PHOTO" width="800" /><br>
		1. 왼쪽의 과목 리스트나 중앙의 시간표에서 원하는 과목 위에 마우스 커서를 위치시킵니다.<br>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/checklocation2.png" alt="PHOTO" width="800" /><br>
		2. 화면 오른쪽 위에 있는 캠퍼스 지도에서 강의실의 위치를 확인할 수 있습니다.<br>
	</div><br>
	<div style="margin-right:20px; margin-left:20px">
		<a name="help7"></a>
		<h3>과거 시간표 조회 <a href="#help_top">^</a></h3>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/thinkofthepast.png" alt="PHOTO" width="800" /><br>
		시간표 왼쪽 위에 있는 드롭다운 메뉴를 클릭하여 과거 시간표를 조회하실 수 있습니다.<br>
	</div>
	<div style="margin-right:20px; margin-left:20px">
		<a name="help8"></a>
		<h3>실라버스 보기 <a href="#help_top">^</a></h3>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/viewsyllabus.png" alt="PHOTO" width="800" /><br>
		시간표 위쪽 과목 정보 테이블 중 과목명 왼쪽에 있는 아이콘을 클릭하여 실라버스를 보실 수 있습니다.<br>
	</div>
	<div style="margin-right:20px; margin-left:20px">
		<a name="help9"></a>
		<h3>경쟁률 확인하기 <a href="#help_top">^</a></h3>
		<img class="help-photo" src="{{MEDIA_URL}}images/help/ko/checkcompetition.png" alt="PHOTO" width="800" /><br>
		시간표 위쪽 과목 정보 테이블에서 경쟁률을 확인하실 수 있습니다.<br>
		아이콘을 클릭하면 경쟁률이 새로고침됩니다.<br>
		※경쟁률 계산시 총원은 CAIS의 해당 과목 정원 값을 가져옵니다.<br>
		※신청한 사람 수는 OTL 모의 시간표에서 해당 과목을 시간표 1,2,3 중 한 곳에라도 추가한 사람의 숫자입니다.<br>
	</div>
	<div class="clear"></div>
{% endblock %}
