<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>로그인 처리 중입니다.</title>
</head>
<body>
<form method="post" action="http://addr.kaist.ac.kr/auth/authenticator" name="next" id="nextForm">
	<input type="hidden" name="isenc" value="t">
	<input type="hidden" name="b001" value='{{username_b64}}'>
	<input type="hidden" name="b002" value='{{password_b64}}'>
	<input type="hidden" name="b003" value='sn'>
	<input type="hidden" name="b003" value='givenname'>
	<input type="hidden" name="b003" value='uid'>
	<!--<input type="hidden" name="b003" value='ku_title'>-->
	<input type="hidden" name="b003" value='ku_departmentname'>
	<input type="hidden" name="b003" value='ku_socialname'>
	<input type="hidden" name="b003" value='ku_socialcode'>
	<!--<input type="hidden" name="b003" value='ku_socialCode'>-->
	<input type="hidden" name="b003" value='ku_where'>
	<input type="hidden" name="b003" value='ku_regno1'>
	<input type="hidden" name="b003" value='ku_regno2'>
	<input type="hidden" name="b004" value='http://{{host}}/login/?step=3&amp;token={{token}}&amp;dummy='>
</form>
<script type="text/javascript">
	document.getElementById('nextForm').submit();
</script>
</body>
</html>
