{% extends 'layout.html' %}
{% block headers %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}accounts.css" />
<script type="text/javascript">
//<![CDATA[
document.addEvent('domready', function() {
	$('login-privacy-agreement').addEvent('submit', function() {
		if (!($('agree-yes').checked)) {
		alert('{% trans "위 사항에 동의하셔야만 서비스를 이용할 수 있습니다." %}');
			return false;
		} else
			return true;
	});
});
//]]>
</script>
{% endblock %}
{% block content %}
	<form id="login-privacy-agreement" method="post" action="/accounts/agree/">
		<textarea id="privacy-policy" readonly="readonly">이 서비스는 KAIST 구성원을 대상으로 하는 일정관리+수강지원 서비스입니다.
저희 서비스를 이용하기 위한 최소한의 동의 절차이므로 다음을 잘 읽어주시기 바랍니다. :)


== BETA 서비스 이용 안내 ==

 * 이 서비스는 계속 개발·테스트 중인 BETA 단계입니다. 사용자분들의 데이터를 잃어버리지 않도록 최선을 다하겠지만, 불의의 사고로 데이터를 잃어버릴 수 있음을 이해하고 사용해주시기 바랍니다.
 * 아직 탈퇴 기능이 구현되지 않았습니다. 정식 버전부터 지원할 계획입니다.
 * 저희 서비스를 사용함으로 인해 발생할 수도 있는 수강신청 과정의 직간접적 피해에 대해서는 저희가 책임지지 않습니다.

== 개인정보 취급 관련 안내 ==

1. 이 서비스가 저장하는 정보

 - 이름
 - 학번
 - 소속 학과
 - 포탈에 등록된 이메일 주소
 - 현재 학기에 수강 중인 과목의 목록

2. 이 서비스가 저장하지 않는 정보

 - 포탈로그인 비밀번호
 - 과거 또는 현재 수강 중인 과목의 성적 정보

3. 개인 정보의 활용 용도

 - 소속 학과 : 모의시간표를 작성할 때 자신의 소속 학과에 해당하는 과목을 먼저 보여줍니다.
 - 수강 과목 목록 : Moodle로부터 현재 수강 중인 과목의 새로운 소식이나 과제 정보를 불러와 일정에 표시해줍니다.

</textarea>
<p>{% trans "위 사항에 동의하여야 이 서비스를 이용하실 수 있습니다." %}</p>
		<p>
			<input type="hidden" name="username" value="{{username}}" />
			<input type="hidden" name="student_id" value="{{kuser_info.student_id}}" />
			<input type="hidden" name="department" value="{{kuser_info.department}}" />
			<input type="hidden" name="department_no" value="{{kuser_info.department_no}}" />
		</p>
		<p>
		<label><input type="radio" name="agree" id="agree-yes" value="yes">{% trans "예, 동의합니다." %}</label>
		<label><input type="radio" name="agree" value="no" checked="checked">{% trans "아니오, 동의하지 않습니다." %}</label>
		</p>
		<p>{% trans "추가로 다음의 정보가 필요합니다." %}</p>
		<p>
			{{form_profile.language.label_tag}}{{form_profile.language}}
		</p>
		<p><input type="submit" value="{% trans "전송하기" %}" /></p>
	</form>
{% endblock %}
